{% extends '::ojsbase.html.twig' %}

{% block body -%}
    <h1>MailLog edit</h1>

    {{ form(edit_form) }}

    {% set delete_path = 'admin_maillog_delete' %}
    {% include '::actionbtns.html.twig' %}

{% endblock %}
