{% extends '::ojsbase.html.twig' %}

{% block body -%}
    <h1>{{ "maillog.creation" }}</h1>

    {{ form(form) }}



    {% set back_path = 'admin_maillog' %}
    {% include '::actionbtns.html.twig' %}
{% endblock %}
