{% extends '::ojsbase.html.twig' %}

{% block breadcrumb %}
    {% set list = [
                {'link': path('dashboard'), 'title': 'Dashboard'},
                {'link': path('ojs_review_forms'), 'title': 'Review Forms'},
                {'title': 'Update Review Form'}
] %}
    {{breadcrumb(list)}}
{% endblock %}

{% block body -%}  

    <form>


    </form>
{% endblock %}
