{% extends '::ojsbase.html.twig' %}

{% block breadcrumb %}
    {% set list = [
                {'link': path('dashboard'), 'title': 'Dashboard'},
                {'link': path('ojs_review_forms'), 'title': 'Review Forms'}
] %}
    {{breadcrumb(list)}}
{% endblock %}

{% block body -%} 
    {% for entity in forms %}
        <div class="list-group-item"> 
            {{entity.title}}
        </div>
    {% endfor %}
    <hr>

    {% if isJournalManager() %}
        <a href="{{path('ojs_review_forms_new')}}" class="btn btn-success">
            <i class="fa fa-plus"></i> {{"create"|trans}}
        </a>
    {% endif %}  

{% endblock %}
