{% extends '::ojsbase.html.twig' %}

{% block breadcrumb %}
    {% set list = [
                {'link': path('dashboard'), 'title': 'Dashboard'},
                {'link': path('ojs_review_forms'), 'title': 'Review Forms'},
                {'title': 'New Review Form'}
] %}
    {{breadcrumb(list)}}
{% endblock %}

{% block body -%} 
    <h1>New Review Form Item</h1>
    <hr>

    <form method="post" class="form-row" action="{{path('ojs_review_forms_create')}}">
        <div class="form-group">
            <label>Journal</label> 
            <span>{{journal.title}}</span>
        </div>

        <div class="form-group">
            <label>Title</label>
            <input  id="titleinput" class="form-control" name="title" >
        </div>

        <div>
            <input type="submit" class="btn btn-success" value="Save" />
            <a href="{{path('ojs_review_forms')}}" class="btn btn-default">
                <i class="fa fa-arrow-left"></i>
                Back to List
            </a>
        </div>
    </form> 
{% endblock %}

