{% extends '::ojsbase.html.twig' %}

{% block breadcrumb %}
    {% set list = [
                {'link': path('dashboard'), 'title': 'Dashboard'},
                {'link': path('ojs_review_forms'), 'title': 'Review Forms'},
                {'title': 'Review Form Preview'}
] %}
    {{breadcrumb(list)}}
{% endblock %}

{% block body -%}
    <div class="panel">
        <div class="panel-heading">
            <h1>{{form.title}}</h1>
        </div>
        <div class="panel-body"> 
        </div>
    </div>
{% endblock %}
