{% extends '::ojsbase.html.twig' %}

{% block breadcrumb %}
    {% set list = [
                {'link': path('dashboard'), 'title': 'dashboard'|trans},
                {'link': path('ojs_review_forms'), 'title': 'review.forms'|trans},
                {'title': 'review.form.detail'|trans}
] %}
    {{breadcrumb(list)}}
{% endblock %}

{% block body -%}
    {% include '::flashbag.html.twig' %}
    <h2> {{form.title}}</h2>
{% endblock %}
