<div class="submission-subform">
    {{ form_row(form.raw) }}
    {{ form_row(form.type) }}
    {{ form_row(form.orderNum) }}
    <button type="button" class="btn btn-warning btn-sm submission-subform-remove-panel remove-citation"><i class="fa fa-trash"></i></button>
</div>
