<div class="form-group">
    <label class="col-md-1 control-label">{%raw%}{{field}}{%endraw%} *</label>
    <div class="col-md-10">
        <input name="{%raw%}{{field}}{%endraw%}" value="{%raw%}{{value}}{%endraw%}" class="form-control input-sm" />
    </div>
</div>