<div class="form-group">
    <label class="col-md-1 control-label">{{field}} *</label>
    <div class="col-md-10">
        <input name="{{field}}" value="{{value}}" class="form-control" /><br>
    </div>
</div>