{% extends '::ojsbase.html.twig' %}

{% block breadcrumb %}
    {% set list = [
        { 'link': path('dashboard'), 'title': 'dashboard'|trans },
        { 'link': path('article_submissions_me'), 'title': 'article.mysubmits'|trans },
        {'title': 'edit'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}


{% block body -%}
    <h1>{{"e"|trans}}</h1>
    {% include '::flashbag.html.twig' %}
    {{ form(edit_form) }}

    <div class="record_actions">
        {% set back_path = 'article' %}
        {% set delete_path = 'article_delete' %}
        {% include '::actionbuttons.html.twig' %}
    </div>
{% endblock %}
