{% extends '::ojsbase.html.twig' %}

{% block body -%}
    <h1>{{"e"|trans}}</h1>
    {% include '::flashbag.html.twig' %}
    {{ form(edit_form) }}

    <div class="record_actions">
        {% set back_path = 'article' %}
        {% set delete_path = 'article_delete' %}
        {% include '::actionbtns.html.twig' %}
    </div>
{% endblock %}
