{% if citationFormTemplate is defined %}
    <div class='well'>
        {{ form(citationFormTemplate) }}
        <div class="controls">
            <a class="btn btn-sm btn-danger" onclick="OjsArticleSubmission.removeCitation(this);">
                <i class="fa fa-trash"></i>
                {{ "remove"|trans }}
            </a>
        </div>
    </div>
{% endif %}