{% extends "::vipabase.html.twig" %}
{% block title %}{{ 'title.login'|trans }} {{ parent() }}{% endblock %}

{% block body %}
    <h3>{{ 'header.success' | trans({'%name%': userInformation.realName}, 'HWIOAuthBundle') }}</h3>
{% endblock body %}
