{% extends "::ojsbase.html.twig" %}

{% block body %}   

<a class="btn btn-info" href="/login"><i class="glyphicon glyphicon-log-in"></i> Login</a>

{% endblock %}

{% block footer %}
<hr>
<small> &copy; Okulbilişim <a href="http://okulbilisim.com">okulbilisim.com</a></small>
{% endblock %}