{% extends '::ojsbase.html.twig' %}

{% block body -%}
    <h1>{{"file.edit"|trans}}</h1>

    {{ form(edit_form) }}


    {% set back_path = 'admin_file' %}
    {% set delete_path = 'admin_file_delete' %}
    {% include '::actionbtns.html.twig' %}


{% endblock %}
