{% extends '::ojsbase.html.twig' %}

{% block body -%}
    <h1>{{"journalsection.edit"|trans}}</h1>
    {% include '::flashbag.html.twig' %}
    {{ form(edit_form) }}


    {% set back_path = 'manager_journal_section' %} 
    {% set delete_path = 'manager_journal_section_delete' %}
    {% include '::actionbtns.html.twig' %}

{% endblock %}
