{% extends '::ojsbase.html.twig' %}

{% block body -%}
    <h1>{{ "journalsection.list"|trans }}</h1>
    {{ grid(grid) }}

    <a href="{{ path('admin_journal_section_new') }}" class="btn btn-success">
        {{ "c"|trans }}
    </a>
{% endblock %}
