{% extends '::ojsbase.html.twig' %}

{% block body -%}
    <h1>{{"journalsection.new"|trans}}</h1>

    {{ form(form) }}

    <a href="{{ path('manager_journal_section') }}">
        {{"b"|trans}}
    </a> 
{% endblock %}
