{% extends '::ojsbase.html.twig' %}

{% block body -%}
    <h1>{{"journalsection.new"|trans}}</h1>

    {{ form(form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('admin_journal_section') }}">
                {{"b"|trans}}
            </a>
        </li>
    </ul>
{% endblock %}
