{% extends '::ojsbase.html.twig' %}

{% block body -%}
    <h1>{{ "proxy.creation"|trans  }}</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_proxy') }}">
            {{"b"|trans}}
        </a>
    </li>
</ul>
{% endblock %}
