{% extends '::ojsbase.html.twig' %}

{% block body -%}
    <div class="panel">
        <div class="panel-heading">
            <h1>{{"article.plural"|trans}} / {{"status.published"|trans}}</h1>
        </div>

        <div class="panel-body">
            <div class="list-group-item">
                {{ grid(grid) }}
            </div>
        </div>
    </div>
{% endblock %}
