{% extends '::ojsbase.html.twig' %}

{% block breadcrumb %}
    {% set list = [
        {'link': path('dashboard'), 'title': 'dashboard'},
        {'title': 'articles.rejected'|trans}
    ] %}
    {{breadcrumb(list)}}
{% endblock %}

{% block body -%}
    <div class="panel">
        <div class="panel-heading">
            <h1>{{"article.plural"|trans}} / {{"status.rejected"|trans}}</h1>
        </div>

        <div class="panel-body">
            <div class="list-group-item">
                {{ grid(grid) }}
            </div>
        </div>
    </div>
{% endblock %}
