{% extends '::ojsbase.html.twig' %}
{% block stylesheets %}
{{parent()}}
<link rel="stylesheet" href="//cdn.jsdelivr.net/select2/3.4.8/select2.css" type="text/css" />
<link rel="stylesheet" href="/vendor/bootstrap3-wysihtml5-bower/dist/bootstrap3-wysihtml5.css" type="text/css" />

{% endblock %}

 {% block breadbrump %}
<ol class="breadcrumb">
    <li> Dashboard</li>
    <li><a href="#" class="active">Submit Article</a></li>
</ol> 
{% endblock %}

{% block body -%}

<div class="col-md-12"> 
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                <ul class='nav nav-wizard'>
                    <li class="active"><a href='#step1'><!--data-toggle="tab"-->
                            <span class="badge">1</span> Article Info.</a></li>
                    <li><span class="badge">2</span> Citations</li>
                    <li><span class="badge">3</span> Authors</li>
                    <li><span class="badge">4</span> Article File</li>
                    <li class="laststep"><span class="badge">5</span> Preview & <strong>Submit</strong></li>
                </ul>
            </div>
        </div>

        <div class="panel-body">  
            <!-- Nav tabs -->
            <ul id="mainTabs" class="nav nav-tabs" role="tablist">
                <li class="lang active"><a href="#en" role="tab" data-toggle="tab">En</a></li>

                <li class="lang dropdown">
                    <a href="#" id="languageDrop" class="dropdown-toggle" 
                       data-toggle="dropdown">
                        <i class="glyphicon glyphicon-plus"></i> Add language 
                        <span class="caret"></span>
                    </a>
                    <ul id="languageDropList" class="dropdown-menu" role="menu" aria-labelledby="languageDrop">
                        <li><a href="#" code="tr" lang="Turkish" tabindex="-1">Turkish (tr)</a></li>
                        <li><a href="#" code="fr" lang="French" tabindex="-1">French (fr)</a></li>
                        <li><a href="#" code="it" lang="Italian" tabindex="-1">Italian (it)</a></li>
                    </ul>
                </li> 
            </ul>

            <!-- Tab panes -->
            <div class="tab-content" id="langtabs">
                <div class="tab-pane active" id="en">
                    <div class="col-md-12">
                        <a href="#" class="removelang btn btn-warning btn-sm pull-right" style="margin-top:10px">
                            <i class="glyphicon glyphicon-trash"></i> Remove Language</a>
                    </div>
                    {% include 'OjstrJournalBundle:ArticleSubmission:newform.html.twig' %}
                </div>
                <div class="tab-pane" id="tr">tr...</div>
                <div class="tab-pane" id="fr">fr...</div> 
                <div class="tab-pane" id="it">it...</div> 

            </div>

            <div class="record_actions">
                <a class="btn btn-default btn-lg" onclick="return confirm('Are you sure?');" href="{{ path('articlesubmission_new') }}">
                    {% trans %}Restart{% endtrans %}
                </a>

                <a class="btn btn-primary btn-lg pull-right" href="{{ path('articlesubmission_new') }}">
                    {% trans %}Save & Next {% endtrans %}
                    <i class="glyphicon glyphicon-chevron-right"></i>
                </a>
            </div>
        </div>
    </div> 
</div>
{% endblock %}

{% block javascripts %}
    {{parent()}}
<script src="//cdn.jsdelivr.net/select2/3.4.8/select2.min.js"></script>
<script src="/vendor/bootstrap3-wysihtml5-bower/dist/bootstrap3-wysihtml5.all.min.js"></script>
<script>
                    $(document).ready(function() {
                        $('select').select2({placeholder: '', allowClear: true, closeOnSelect: false});
                        $("textarea").wysihtml5({
                            toolbar: {
                                "font-styles": false,
                                "emphasis": true,
                                "lists": false,
                                "html": false,
                                "link": true,
                                "image": false,
                                "color": false,
                                "blockquote": false
                            }
                        });
                        $("ul#mainTabs li a").click(function(e) {
                            e.preventDefault();
                        });
                        $("ul#languageDropList li a").click(function(e) {
                            e.preventDefault();
                            langcode = $(this).attr('code');
                            langtitle = $(this).attr('lang');

                            tabhtml = '<li><a href="#' + langcode + '" role="tab" class="lang" data-toggle="tab">' + langtitle + '</a></li>';
                            $("ul#mainTabs li.lang").last().before(tabhtml);
                        });


                    });

</script>
{% endblock %}