{% extends "::ojsbase.html.twig" %}

{% block body %}   
Search index
{% endblock %}

{% block footer %}
    <hr>
    <small> &copy; Okulbilişim <a href="http://okulbilisim.com">okulbilisim.com</a></small>
{% endblock %}