{% extends 'TwigBundle::layout.html.twig' %}

{% block body %}
    <div class="container" style="margin-top: 60px">
        <div class="alert alert-warning"> 
            <h3>{{"error.oops"|trans}} </h3> 
            {%if exception.message == "mustselectjournal" %}
                {% include '::mustselectjournal.html.twig' %}
            {%else%}
                {{ exception.message|trans|nl2br|format_file_from_text }} 
            {%endif%}
            <br><br>
            <p>
                <a href="{{path("ojs_public_index")}}" class="btn btn-default btn-sm">
                    <i class="fa fa-arrow-left"></i>
                    {{"Back to homepage"|trans}}
                </a>
            </p>
        </div>

    </div>
{% endblock %}