<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:dc="http://purl.org/dc/terms/"
      xmlns:doi="http://dx.doi.org/"
      lang="en" xml:lang="en"
      class="no-js">

<body>
<h1>{{ month }} {{ year }}</h1>
<ol>
    {% for article in articles %}
    <li style="b">
        <a href="{{ path('ojs_article_withoutIssue_page', {slug: journal.slug, article_id: article.id}) }}">
            {{ article.doi }}
        </a>
    </li>
    {% endfor %}
</ol>
<em> LOCKSS system has permission to collect, preserve, and serve this open access Archival Unit. </em>  </body>
</html>