<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:dc="http://purl.org/dc/terms/"
      xmlns:doi="http://dx.doi.org/"
      lang="en" xml:lang="en"
      class="no-js">

<body>
<h1>{{ month }} {{ year }}</h1>
<ol>
    <li style="b">
        <a href="/journal_slug/article?id=XX">
            DOI
        </a>
    </li>
    <li style="b">
        <a href="/journal_slug/article?id=X">
            DOI
        </a>
    </li>
</ol>
<em> LOCKSS system has permission to collect, preserve, and serve this open access Archival Unit. </em>  </body>
</html>