{% extends "::ojsbase.html.twig" %}
{% set hideleft = 1 %}
{% block breadcrumb %}{% endblock %}
{% block body %}
    <div class="container">
        <!-- Page Content -->
        <h1 class="page-header">{{ "success"|trans }}</h1>
        <div class="jumbotron">
            {{ "Your suggestion saved successfuly."|trans }}
        </div>
    </div>
{% endblock %}
