Ojs\JournalBundle\Entity\JournalAnnouncement:
    table: journal_announcement
    type: entity
    repositoryClass: Ojs\JournalBundle\Entity\JournalAnnouncementRepository
    manyToOne:
        journal:
            targetEntity: Ojs\JournalBundle\Entity\Journal
            joinColumn:
                name: journal_id
                referencedColumnName: id
    id:
        id:
            type: integer
            id: true
            generator:
                strategy: AUTO
    fields:
        image:
            type: string
            length: 255
            nullable: true
    lifecycleCallbacks: {  }
