{% extends '::ojsbase.html.twig' %}

{% set hideleft = 1 %}
{% block title %}{{ "title.people_directory"|trans }} {{ parent() }}{% endblock %}
{% block breadcrumb %}
    {% set list = [
        {'link': path('ojs_public_index'), 'title': 'title.home'|trans},
        {'title': 'title.people_directory'|trans}
    ] %}

    {{ breadcrumb(list) }}
{% endblock %}

{% block body %}
    <div class="container">
    {{ grid(grid) }}
    </div>
{% endblock %}
