{% extends '::ojsbase.html.twig' %}


{% block breadcrumb %}
    {% set list = [
        {'link': path('dashboard'), 'title': 'dashboard'|trans},
        { 'link': path('contacttypes'),'title': 'contact.types'|trans},
        {'title': 'edit'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>{{"contact.type"|trans}}</h1>
    {% include '::flashbag.html.twig' %}
    {{ form(edit_form) }}

    {% set back_path = 'contacttypes' %}
    {% set delete_path = 'contacttypes_delete' %}
    {% include '::actionbuttons.html.twig' %}
{% endblock %}
