{% extends '::ojsbase.html.twig' %}

{% block body -%}
    <h1>ContactTypes creation</h1>

    {{ form(form) }}

    {% set back_path = 'contacttypes' %}
    {% include '::actionbtns.html.twig' %}
</ul>
{% endblock %}
