{% extends '::ojsbase.html.twig' %}

{% block body -%}
    <h1>{{"issue.edit"|trans}}</h1>

    {{ form(edit_form) }}

    <hr>

    {% set back_path = 'issue' %}
    {% set delete_path = 'issue_delete' %}
    {% include '::actionbtns.html.twig' %}
{% endblock %}
