{% extends '::ojsbase.html.twig' %}

{% block body -%}
    <h1>{{"issue.new"|trans}}</h1>

    <a class="btn btn-default" href="{{ path('issue') }}">{{"back"|trans}}</a>
    {{ form(form) }}
{% endblock %}
