{% extends '::ojsbase.html.twig' %}

{% block breadcrumb %}
    {% set list = [
                {'link': path('dashboard'), 'title': 'Dashboard'},
                { 'title': 'Apply For New Journal'},
                { 'title': 'New Journal '},
    ] %}
    {{breadcrumb(list)}}
{% endblock %}

{% block body -%}

    <h1>Apply for a new journal</h1>
    
    <div class="record_actions">
        <a href="{{ path('dashboard') }}" class="btn btn-default">
            <i class="fa fa-chevron-left"></i> {{"b"|trans}}
        </a>
    </div>
{% endblock %}
