{% extends '::ojsbase.html.twig' %}

{% block breadcrumb %}
    {% set list = [
                {'link': path('dashboard'), 'title': 'Dashboard'},
                { 'link': path('journal'), 'title': 'Journal Manager'},
                { 'title': 'Update Journal '},

] %}
    {{breadcrumb(list)}}
{% endblock %}

{% block body -%}
    <h1>Journal edit</h1>

    {{ form(edit_form) }}

    <div class="record_actions">
        {% set back_path = 'journal' %}
        {% set delete_path = 'journal_delete' %}
        {% include '::actionbtns.html.twig' %} 
    </div>
{% endblock %}
