{% extends '::ojsbase.html.twig' %}

{% block breadcrumb %}
    {% set list = [
                {'link': path('dashboard'), 'title': 'Dashboard'},
                { 'title': 'Reports', 'link': path('reports_index') },
                { 'title': 'Analytics Reports'}
] %}
    {{breadcrumb(list)}}
{% endblock %}


{% block body -%} 
    <div class="col-md-12">
        {# @todo a summary user chart should be added here #}

    </a>
</div>
{% endblock %}