{% extends '::ojsbase.html.twig' %}
{% block breadcrumb %}
    {% set list = [
    {'link': path('dashboard'), 'title': 'dashboard'},
    {'title': 'pages.management'|trans },
    { 'title': 'pages.new'|trans }
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>New Page</h1>

    {{ form(form) }}

    <div class="record_actions"> 
        {% set back_path = 'admin_page' %}
        {% include '::actionbtns.html.twig' %}
    </div>
{% endblock %}
