config.inc.php
build
temp
files
.htaccess
.project
.buildpath
.settings
.DS_Store
composer.lock
/.idea/

/web/uploads/*
/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
/nbproject/private/

/web/c/
/web/assetic/
/web/vendor/
