language: php

env:
  - SYMFONY_VERSION="2.8.*" DB="postgres" SYMFONY_ENV="test"

php:
  - 7.0
  - 5.6

addons:
  apt_packages:
    - parallel

services:
  - mysql
  - postgresql
  - elasticsearch
  - memcached

sudo: false

before_script:
  - phpenv config-add travis.php.ini
  - phpenv config-rm xdebug.ini
  - cp app/config/parameters.yml.dist app/config/parameters.yml
  - composer install --no-interaction --prefer-dist
  - chmod -R 777 app/cache app/logs
  - php app/console ojs:install --no-interaction --env=test
  - php app/console ojs:install:samples --env=test
  - php app/console h4cc_alice_fixtures:load:sets --env=test
  - php app/console ojs:normalize:translatable:objects --env=test
  - php app/console ojs:mail:events:sync --env=test
  - php app/console ojs:mail:events:sync --sync-desc --env=test
  - php app/console fos:elastica:populate --env=test
  - composer show

script:
  - ./etc/bin/parallel_phpunit.sh

notifications:
  slack: bulutyazilim:8GtvUiq3935dZRc1SObHJVcR#ojs
  email:
    - behramcelen+travis@gmail.com
