{% extends '::ojsbase.html.twig' %}

{% block body -%}
    <h1> {{"boards"|trans}}</h1>
    {% include '::flashbag.html.twig' %}
    <a href="{{ path('admin_board_new') }}">
        {{"c"| trans}}
    </a>
    <hr>
    {{ grid(grid) }}

{% endblock %}
