{% extends "::ojsbase.html.twig" %}
{% block title %}{{ 'title.register'|trans }} {{ parent() }}{% endblock %}

{% block body %}
    <div class="row">
        {% include '::flashbag.html.twig' %}
        <div class="container">
        </div>
    </div>
{% endblock %}