{% extends '::ojsbase.html.twig' %}

{% block body -%}
    <h1>{{"subject.edit"|trans}}</h1>
    {% include '::flashbag.html.twig' %}
    {{ form(edit_form) }}
    <div class="record_actions">
        {% set back_path = 'subject' %}
        {% set delete_path = 'subject_delete' %}
        {% include '::actionbtns.html.twig' %}
    </div>
{% endblock %}
