{% extends '::ojsbase.html.twig' %}

{% block body -%}
    <h1>{{"subject.list"|trans}}</h1>
    {{grid(grid)}}
    <div>
        <a href="{{ path('subject_new') }}" class="btn btn-success">
            {{"c"|trans}}
        </a>
    </div>
{% endblock %}
