{% extends '::ojsbase.html.twig' %}

{% block body -%}
    <h1>Subject creation</h1>

    {{ form(form) }}
    <hr>
    <div class="record_actions">
        <a href="{{ path('subject') }}" class="button">
            {{"b"|trans}}
        </a>
    </div>
{% endblock %}
