{% set hideleft = 1%}
{% extends "::ojsbase.html.twig" %}

{% block body %}
    <div class="container-fluid">
        <hgroup class="page-header">
            <h1>Search Results</h1>
            <h2 class="lead"><strong class="text-danger">3</strong> results were found for the search for <strong class="text-danger">Lorem</strong></h2>
        </hgroup>

        <nav class="col-xs-6 col-sm-6 col-md-3">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Panel heading</div>
                <div class="panel-body">
                    <p>...</p>
                </div>
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <i class="fa fa-comment-o"></i> Lorem ipsum
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-search"></i> Lorem ipsum
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-user"></i> Lorem ipsum
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-folder-open-o"></i> Lorem ipsum <span class="badge">14</span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-bar-chart-o"></i> Lorem ipsumr <span class="badge">14</span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-envelope"></i> Lorem ipsum
                    </a>
                </div>
            </div>
        </nav>
        <section class="col-xs-6 col-sm-6 col-md-9">
            <ol>
                <li>
                    <input type="checkbox" />
                    <article>
                        <h4><a href="#">The tetramerization domain potentiates kv4 channel function by suppressing closed-state inactivation.</a></h4>
                        <p><a href="#">Tang YQ</a>, <a href="#">Zhou JH</a>, <a href="#">Yang F</a>, <a href="#">Zheng J</a>, <a href="#">Wang K.</a></p>
                        <p>Biophys J. 2014 Sep 2;107(5):1090-104. doi: 10.1016/j.bpj.2014.07.038.</p>
                        <p class="text-muted">PMID: 25185545</p>
                    </article>
                </li>
                <li>
                    <input type="checkbox" />
                    <article>
                        <h4><a href="#">The tetramerization domain potentiates kv4 channel function by suppressing closed-state inactivation.</a></h4>
                        <p><a href="#">Tang YQ</a>, <a href="#">Zhou JH</a>, <a href="#">Yang F</a>, <a href="#">Zheng J</a>, <a href="#">Wang K.</a></p>
                        <p>Biophys J. 2014 Sep 2;107(5):1090-104. doi: 10.1016/j.bpj.2014.07.038.</p>
                        <p class="text-muted">PMID: 25185545</p>
                    </article>
                </li>
                <li>
                    <input type="checkbox" />
                    <article>
                        <h4><a href="#">The tetramerization domain potentiates kv4 channel function by suppressing closed-state inactivation.</a></h4>
                        <p><a href="#">Tang YQ</a>, <a href="#">Zhou JH</a>, <a href="#">Yang F</a>, <a href="#">Zheng J</a>, <a href="#">Wang K.</a></p>
                        <p>Biophys J. 2014 Sep 2;107(5):1090-104. doi: 10.1016/j.bpj.2014.07.038.</p>
                        <p class="text-muted">PMID: 25185545</p>
                    </article>
                </li>
                <li>
                    <input type="checkbox" />
                    <article>
                        <h4><a href="#">The tetramerization domain potentiates kv4 channel function by suppressing closed-state inactivation.</a></h4>
                        <p><a href="#">Tang YQ</a>, <a href="#">Zhou JH</a>, <a href="#">Yang F</a>, <a href="#">Zheng J</a>, <a href="#">Wang K.</a></p>
                        <p>Biophys J. 2014 Sep 2;107(5):1090-104. doi: 10.1016/j.bpj.2014.07.038.</p>
                        <p class="text-muted">PMID: 25185545</p>
                    </article>
                </li>
            </ol>

        </section>
    </div>
{% endblock %}

{% block footer %}
    <hr>
    <small> &copy; Okulbilişim <a href="http://okulbilisim.com">okulbilisim.com</a></small>
{% endblock %}
