{% extends '::ojsbase.html.twig' %}

{% block body -%}
    <h1>{{ "notification.edit"|trans }}</h1>
    {% include '::flashbag.html.twig' %}
    {{ form(edit_form) }}

    {% set back_path = 'admin_notification' %}
    {% set delete_path = 'admin_notification_delete' %}
    {% include '::actionbuttons.html.twig' %}
{% endblock %}
