{% extends '::ojsbase.html.twig' %}

{% block body -%}
<h1>{{ "notification.creation"|trans }}</h1>

    {{ form(form) }}


    {% set back_path = 'admin_notification' %}
    {% include '::actionbtns.html.twig' %}
{% endblock %}
