body div.container { font-size: 0.9em;  }
.margin-auto{margin-left:auto; margin-right: auto}
span.mandotary{color: #d45!important; font-family: monospace!important;}
span.mandotary:after{content:"*"}
.records_list ul{list-style: none;}
.records_list ul li{display: inline; padding:2px}
.citationDetails{ margin-top:10px; display: none;}
textarea.citationPasteTextArea{}
#citationPasteField{display: none;}
.width100{width: 100%}
/*form div {margin-top:10px;}
form label {margin-right:10px;}
*/
.panel-collapse>.list-group .list-group-item:first-child {border-top-right-radius: 0;border-top-left-radius: 0;}
.panel-collapse>.list-group .list-group-item {border-width: 1px 0;}
.panel-collapse>.list-group {margin-bottom: 0;}
.panel-collapse .list-group-item {border-radius:0;}

.panel-collapse .list-group .list-group {margin: 0;margin-top: 10px;}
.panel-collapse .list-group-item li.list-group-item {margin: 0 -15px;border-top: 1px solid #ddd;border-bottom: 0;padding-left: 30px;}
.panel-collapse .list-group-item li.list-group-item:last-child {padding-bottom: 0;}

.panel-collapse div.list-group div.list-group{margin: 0;}
.panel-collapse div.list-group .list-group a.list-group-item {border-top: 1px solid #ddd;border-bottom: 0;padding-left: 30px;}


/*nav-wizard css start*/
ul.nav-wizard{background-color:#f9f9f9;border:1px solid #d4d4d4;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;zoom:1;position:relative;overflow:hidden;}
ul.nav-wizard:before{display:block;position:absolute;left:0;right:0;top:46px;height:47px;border-top:1px solid #d4d4d4;border-bottom:1px solid #d4d4d4;z-index:11;content:" ";}
ul.nav-wizard:after{display:block;position:absolute;left:0;right:0;top:138px;height:47px;border-top:1px solid #d4d4d4;border-bottom:1px solid #d4d4d4;z-index:11;content:" ";}
ul.nav-wizard li{position:relative;float:left;height:46px;display:inline-block;text-align:center;font-size:14px;line-height:46px;margin:0;padding:0 20px 0 30px;}
ul.nav-wizard li a{color:#468847;padding:0;}
ul.nav-wizard li a:hover{color:#fad839;}
ul.nav-wizard li:before{position:absolute;display:block;border:24px solid transparent;border-left:16px solid #d4d4d4;border-right:0;top:-1px;z-index:10;content:'';right:-16px;}
ul.nav-wizard li:after{position:absolute;display:block;border:24px solid transparent;border-left:16px solid #f9f9f9;border-right:0;top:-1px;z-index:10;content:'';right:-15px;}
ul.nav-wizard li.active:after{border-left:16px solid #d9edf7;}
ul.nav-wizard.nav-wizard-backnav li:hover:after{border-left:16px solid #f6fbfd;}
ul.nav-wizard li.active,ul.nav-wizard li.active a,ul.nav-wizard li.active a:active,ul.nav-wizard li.active a:visited,ul.nav-wizard li.active a:focus{color:#3a87ad;background:#d9edf7;}
ul.nav-wizard .active ~ li,ul.nav-wizard .active ~ li a,ul.nav-wizard .active ~ li a:active,ul.nav-wizard .active ~ li a:visited,ul.nav-wizard .active ~ li a:focus,ul.nav-wizard.nav-wizard-backnav .active ~ li,ul.nav-wizard.nav-wizard-backnav .active ~ li a,ul.nav-wizard.nav-wizard-backnav .active ~ li a:active,ul.nav-wizard.nav-wizard-backnav .active ~ li a:visited,ul.nav-wizard.nav-wizard-backnav .active ~ li a:focus{color:#999;background:#ededed;}
ul.nav-wizard .active ~ li:after,ul.nav-wizard.nav-wizard-backnav .active ~ li:after{border-left:16px solid #ededed;}
ul.nav-wizard.nav-wizard-backnav li:hover,ul.nav-wizard.nav-wizard-backnav li:hover a,ul.nav-wizard.nav-wizard-backnav li:hover a:active,ul.nav-wizard.nav-wizard-backnav li:hover a:visited,ul.nav-wizard.nav-wizard-backnav li:hover a:focus{color:#468847;background:#f6fbfd;}
/*nav-wizard css end*/

#lean_overlay{position:fixed;z-index:100;top:0;left:0;height:100%;width:100%;background:#000;display:none;}
.modal_standart{width:400px;display:none;background:#FFF;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;box-shadow:0 0 4px rgba(0,0,0,0.7);-webkit-box-shadow:0 0 4px rgba(0,0,0,0.7);-moz-box-shadow:0 0 4px rgba(0,0,0,0.7);padding:30px;}
.modal_close{cursor:pointer;position:absolute;top:12px;right:12px;display:block;width:14px;height:14px;z-index:2;}
.modal_close:after{content:"x";}


.clear-left
{
    clear: left;
}


.controls
{
    margin-top: 20px;
}
[data-slide="prev"]
{
    margin-right: 10px;
}


div#leftmenu img.avatar{ }
strong.fstrong{background-color: #f1685e; padding:4px;border-radius:4px;color:#fff}
strong.gstrong{background-color: #5ed168; padding:4px;border-radius:4px;color:#fff}

a:hover .strong{text-decoration: none;}


/* -- color classes -- */
.coralbg {
    background-color: #FA396F;
} 

.coral {
    color: #FA396f;
}

.turqbg {
    background-color: #46D8D2;
}

.turq {
    color: #46D8D2;
}

.white {
    color: #fff!important;
}


/* -- The main tab & content styling of the vertical buttons info-- */
div.user-menu-content {
    color: #323232;
}

ul.user-menu-list {
    list-style: none;
    margin-top: 20px;
    margin-bottom: 0;
    padding: 10px;
    border: 1px solid #eee;
}
ul.user-menu-list>li {
    padding-bottom: 8px;
    text-align: center;
}

div.user-menu div.user-menu-content:not(.active){
    display: none;
}

.user-pad {
    padding: 20px 25px;
}

.no-pad {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}

.user-details {
    background: #eee;
    min-height: 333px;
}

.user-image {
    max-height:200px;
    overflow:hidden;
}

.overview h3 {
    font-weight: 300;
    margin-top: 15px;
    margin: 10px 0 0 0;
}

.overview h4 {
    font-weight: bold!important;
    font-size: 40px;
    margin-top: 0;
}

.view {
    position:relative;
    overflow:hidden;
    margin-top: 10px;
}

.view p {
    margin-top: 20px;
    margin-bottom: 0;
}

.info {
    display: block;
    padding: 10px;
    background: #eee;
    text-transform: uppercase;
    font-weight: 300;
    text-align: right;
}
#stats .panel-body{padding:4px; font-weight: bold}
#stats .panel-footer{padding:4px; font-size:11px}
#stats .number{ font-family: Georgia, "Times New Roman", Times, serif;}

.info p, .stats p {
    margin-bottom: 0;
}

.stats {
    display: block;
    padding: 10px;
    color: white;
}

.share-links {
    border: 1px solid #eee;
    padding: 15px;
    margin-top: 15px;
}


/* -- media query for user profile image -- */
@media (max-width: 767px) {
    .user-image {
        max-height: 400px;
    }
}

.img-responsive
{
    display: block;
    height: auto;
    max-width: 100%;
}
.img-rounded
{
    border-radius: 3px;
}
.img-thumbnail
{
    background-color: #fff;
    border: 1px solid #ededf0;
    border-radius: 3px;
    display: inline-block;
    height: auto;
    line-height: 1.428571429;
    max-width: 100%;
    moz-transition: all .2s ease-in-out;
    o-transition: all .2s ease-in-out;
    padding: 2px;
    transition: all .2s ease-in-out;
    webkit-transition: all .2s ease-in-out;
}
.img-circle
{
    border-radius: 50%;
}
.timeline-centered {
    position: relative;
    margin-bottom: 30px;
}

.timeline-centered:before, .timeline-centered:after {
    content: " ";
    display: table;
}

.timeline-centered:after {
    clear: both;
}

.timeline-centered:before, .timeline-centered:after {
    content: " ";
    display: table;
}

.timeline-centered:after {
    clear: both;
}

.timeline-centered:before {
    content: '';
    position: absolute;
    display: block;
    width: 4px;
    background: #f5f5f6;
    left: 50%;
    top: 20px;
    bottom: 20px;
    margin-left: -4px;
}

.timeline-centered .timeline-entry {
    position: relative;
    width: 50%;
    float: right;
    margin-bottom: 70px;
    clear: both;
}

.timeline-centered .timeline-entry:before, .timeline-centered .timeline-entry:after {
    content: " ";
    display: table;
}

.timeline-centered .timeline-entry:after {
    clear: both;
}

.timeline-centered .timeline-entry:before, .timeline-centered .timeline-entry:after {
    content: " ";
    display: table;
}

.timeline-centered .timeline-entry:after {
    clear: both;
}

.timeline-centered .timeline-entry.begin {
    margin-bottom: 0;
}

.timeline-centered .timeline-entry.left-aligned {
    float: left;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner {
    margin-left: 0;
    margin-right: -18px;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-time {
    left: auto;
    right: -100px;
    text-align: left;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-icon {
    float: right;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label {
    margin-left: 0;
    margin-right: 70px;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label:after {
    left: auto;
    right: 0;
    margin-left: 0;
    margin-right: -9px;
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.timeline-centered .timeline-entry .timeline-entry-inner {
    position: relative;
    margin-left: -22px;
}

.timeline-centered .timeline-entry .timeline-entry-inner:before, .timeline-centered .timeline-entry .timeline-entry-inner:after {
    content: " ";
    display: table;
}

.timeline-centered .timeline-entry .timeline-entry-inner:after {
    clear: both;
}

.timeline-centered .timeline-entry .timeline-entry-inner:before, .timeline-centered .timeline-entry .timeline-entry-inner:after {
    content: " ";
    display: table;
}

.timeline-centered .timeline-entry .timeline-entry-inner:after {
    clear: both;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time {
    position: absolute;
    left: -100px;
    text-align: right;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span {
    display: block;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:first-child {
    font-size: 15px;
    font-weight: bold;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:last-child {
    font-size: 12px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
    background: #fff;
    color: #737881;
    display: block;
    width: 40px;
    height: 40px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-align: center;
    -moz-box-shadow: 0 0 0 5px #f5f5f6;
    -webkit-box-shadow: 0 0 0 5px #f5f5f6;
    box-shadow: 0 0 0 5px #f5f5f6;
    line-height: 40px;
    font-size: 15px;
    float: left;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-primary {
    background-color: #303641;
    color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-secondary {
    background-color: #ee4749;
    color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-success {
    background-color: #00a651;
    color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-info {
    background-color: #21a9e1;
    color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-warning {
    background-color: #fad839;
    color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-danger {
    background-color: #cc2424;
    color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
    position: relative;
    background: #f5f5f6;
    padding: 1.7em;
    margin-left: 70px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label:after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 9px 9px 0;
    border-color: transparent #f5f5f6 transparent transparent;
    left: 0;
    top: 10px;
    margin-left: -9px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2, .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p {
    color: #737881;
    font-family: "Noto Sans",sans-serif;
    font-size: 12px;
    margin: 0;
    line-height: 1.428571429;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p + p {
    margin-top: 15px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 {
    font-size: 16px;
    margin-bottom: 10px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 a {
    color: #303641;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 span {
    -webkit-opacity: .6;
    -moz-opacity: .6;
    opacity: .6;
    -ms-filter: alpha(opacity=60);
    filter: alpha(opacity=60);
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
} 
.navbar-alt { min-height:44px; border-radius:0}

.navbar-alt .navbar-brand {
    padding: 2px 8px;
    font-size: 14px;
    line-height: 28px;
}

.navbar-brand > img {
    height: 36px;
    margin: 4px
}
.navbar-alt .navbar-nav > li > a { border-right:1px solid #ddd; padding-top: 2px; padding-bottom: 2px; line-height: 30px }

.navbar-alt .navbar-nav > li:last-child > a {
    border-right: 0
}

/**/
.carousel-indicators .active {
    background: #428bca;
}

.adjust1 {
    float: left;
    width: 100%;
    margin-bottom: 0;
}

.adjust2 {
    margin: 0;
}

.carousel-indicators li {
    border: 1px solid #ccc;
}

.carousel-indicators {
    bottom: -35px;
}

.carousel-control {
    color: #31708f;
    width: 5%;
}

.carousel-control:hover, .carousel-control:focus {
    color: #31708f;
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
}

.media-object {
    margin: auto;
    margin-top: 15%;
}

#carousel-example-generic .row {
    margin-left: 15px;
    margin-right: 15px;
}

@media screen and (max-width: 768px) {
    .media-object {
        margin-top: 0;
    }
}

/**/

.bigSearchBar {
    height: 200px;
    margin-bottom: 20px;
}
.bigSearchBar-caption {
    z-index: 10;
}  
.bigSearchBar-inner{
    padding-top: 90px;
    height: 200px;
    background-color: #005A7F;
    border-bottom:4px #e22 solid;
}
.bigSearchBar-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 200px;
    border-bottom: 5px solid red;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .masthead,
    .marketing,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
}
.panel-body table tr td { padding-left: 15px }
.panel-body .table {margin-bottom: 0; }

.highlight{
    background-color:yellow;
    color:#565656;
    padding:4px;
}
.inline{display:inline}


.btn-label {position: relative;left: -12px;display: inline-block;padding: 6px 12px;background: rgba(0,0,0,0.15);border-radius: 3px 0 0 3px; margin:-6px 0}

.btn-lg .btn-label {
    padding: 11px 10px 11px 16px;
    left: -16px;
    margin: -11px 0;
    border-radius: 6px 0 0 6px;
    float: left;
}


.select2-choice{
    margin: -7px -13px;
    padding: 3px;
    height: 34px !important;
}


.journal-stats a { transition: all .3s ease;-webkit-transition: all .3s ease;-moz-transition: all .3s ease;-o-transition: all .3s ease; }
/* Visitor */
a.visitor i,.visitor h4.list-group-item-heading { color:#E48A07; }
a.visitor:hover { background-color:#E48A07; }
a.visitor:hover * { color:#FFF; }
/* Facebook */
a.facebook-like i,.facebook-like h4.list-group-item-heading { color:#3b5998; }
a.facebook-like:hover { background-color:#3b5998; }
a.facebook-like:hover * { color:#FFF; }
/* Google */
a.google-plus i,.google-plus h4.list-group-item-heading { color:#dd4b39; }
a.google-plus:hover { background-color:#dd4b39; }
a.google-plus:hover * { color:#FFF; }
/* Twitter */
a.twitter i,.twitter h4.list-group-item-heading { color:#00acee; }
a.twitter:hover { background-color:#00acee; }
a.twitter:hover * { color:#FFF; }
/* Linkedin */
a.linkedin i,.linkedin h4.list-group-item-heading { color:#0e76a8; }
a.linkedin:hover { background-color:#0e76a8; }
a.linkedin:hover * { color:#FFF; }
/* Tumblr */
a.tumblr i,.tumblr h4.list-group-item-heading { color:#34526f; }
a.tumblr:hover { background-color:#34526f; }
a.tumblr:hover * { color:#FFF; }
/* Youtube */
a.youtube i,.youtube h4.list-group-item-heading { color:#c4302b; }
a.youtube:hover { background-color:#c4302b; }
a.youtube:hover * { color:#FFF; }
/* Vimeo */
a.vimeo i,.vimeo h4.list-group-item-heading { color:#44bbff; }
a.vimeo:hover { background-color:#44bbff; }
a.vimeo:hover * { color:#FFF; }


.journal-meta{width:100%;overflow:hidden; font-size:13px;}
.journal-meta dt,dd{float: left;padding: 5px}
.journal-meta dd{border-right: 1px solid #ccc; padding-right: 5px; margin-right: 5px}
.journal-meta dd:last-child{border-right: none;}

.panel-steps .row {margin-bottom: 20px}

.grid-row-actions{ margin: 0; width: auto;
                   padding: 0;}
.grid-row-actions li{ float: left; list-style-type: none}

.select2-container.select2-container-multi.form-control{height: auto!important;}
.select2-container{width: 100%;}

.jvFloat {
    position: relative;
    display: inline;
    margin-top: 2em;
}

.jvFloat .placeHolder.required {
    color: red;
}

/* Start CSS3 Animations on supported browser */
.jvFloat .placeHolder {
    position: absolute;
    bottom: 2px;
    left: 4px;
    width: auto;
    color: #333;
    font-size: 1em;
    font-weight: bold;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: -webkit-transform 150ms, opacity 100ms, visibility 100ms;
    transition: transform 150ms, opacity 100ms, visibility 100ms;
    opacity: 0;
    visibility: hidden;
}

.jvFloat .placeHolder.textarea {
    /*top: 0;*/
}

.jvFloat .placeHolder.active {
    display: block;
    visibility: visible;
    -webkit-transform: translate(0, -1em);
    -moz-transform: translate(0, -1em);
    -o-transform: translate(0, -1em);
    -ms-transform: translate(0, -1em);
    transform: translate(0, -1em);
    -webkit-transition: -webkit-transform 100ms, opacity 120ms, visibility 120ms;
    transition: transform 100ms, opacity 120ms, visibility 120ms;
    opacity: 1;
}
.jvFloat .placeHolder.visible {
    color: #8e8e8e;
}

@media (max-width: 768px) {
    .jvFloat{display: block;margin: 0 0 2em;}
    .jvFloat .placeHolder{bottom: 12px;}
}

.home-subject-tree ul {
    margin-bottom: 1px
}

.home-subject-tree ul ul {
    padding: 1px 0 0 10px
}

.home-subject-tree > ul > li {
    width: 50%;
    float: left
}



.ds-btn li{ list-style:none; float:left; padding:10px; }
.ds-btn li a span{padding-left:15px;padding-right:5px;width:100%;display:inline-block; text-align:left;}
.ds-btn li a span small{width:100%; display:inline-block; text-align:left;}
.page-header h1,#header h1{  font-size: 20px; font-weight: bold; }
h2.title { font-size: 20px; }
.nopadding{ padding: 0 !important;}

.home-stats{width:100%;overflow:hidden; font-size:13px;}
.home-stats dt,dd{float: left;padding: 5px}
.home-stats dd{border-right: 1px solid #ccc; padding-right: 5px; margin-right: 5px; width: 31%}
.home-stats dd:last-child{border-right: none;}

.home-stats dd span {
    font: bold 24px Georgia, "Times New Roman", Times, serif;
}

ul.grid-row-actions > li > a.btn { margin-right: 5px; }

.submission-subform-template {
    display: none;
}
.submission-subform {
    margin: 5px;
    border: 1px solid #CCC;
    padding: 10px;
}

.jb_result_preview {
    max-width: 100%;
    margin-bottom: 5px;
}

.fileinput-button:hover a {
     text-decoration: none !important;
}
.file-remove-button, .jb_crop_reset {
    margin-left: 2px;
}