body {
    padding-top: 80px;
}
body.journal_hosting_test{
    padding-top: 0px;
}
body div.container { font-size: 0.9em;  }
.margin-auto{margin-left:auto; margin-right: auto}
span.mandotary{color: #d45!important; font-family: monospace!important;}
span.mandotary:after{content:"*"}
.records_list ul{list-style: none;}
.records_list ul li{display: inline; padding:2px}
.citationDetails{ margin-top:10px; display: none;}
textarea.citationPasteTextArea{}
#citationPasteField{display: none;}
.width100{width: 100%}
/*form div {margin-top:10px;}
form label {margin-right:10px;}
*/
.panel-collapse>.list-group .list-group-item:first-child {border-top-right-radius: 0;border-top-left-radius: 0;}
.panel-collapse>.list-group .list-group-item {border-width: 1px 0;}
.panel-collapse>.list-group {margin-bottom: 0;}
.panel-collapse .list-group-item {border-radius:0;}

.panel-collapse .list-group .list-group {margin: 0;margin-top: 10px;}
.panel-collapse .list-group-item li.list-group-item {margin: 0 -15px;border-top: 1px solid #ddd;border-bottom: 0;padding-left: 30px;}
.panel-collapse .list-group-item li.list-group-item:last-child {padding-bottom: 0;}

.panel-collapse div.list-group div.list-group{margin: 0;}
.panel-collapse div.list-group .list-group a.list-group-item {border-top: 1px solid #ddd;border-bottom: 0;padding-left: 30px;}


/*nav-wizard css start*/
ul.nav-wizard{background-color:#f9f9f9;border:1px solid #d4d4d4;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;zoom:1;position:relative;overflow:hidden;}
ul.nav-wizard:before{display:block;position:absolute;left:0;right:0;top:46px;height:47px;border-top:1px solid #d4d4d4;border-bottom:1px solid #d4d4d4;z-index:11;content:" ";}
ul.nav-wizard:after{display:block;position:absolute;left:0;right:0;top:138px;height:47px;border-top:1px solid #d4d4d4;border-bottom:1px solid #d4d4d4;z-index:11;content:" ";}
ul.nav-wizard li{position:relative;float:left;height:46px;display:inline-block;text-align:center;font-size:14px;line-height:46px;margin:0;padding:0 20px 0 30px;}
ul.nav-wizard li a{color:#468847;padding:0;}
ul.nav-wizard li a:hover{color:#fad839;}
ul.nav-wizard li:before{position:absolute;display:block;border:24px solid transparent;border-left:16px solid #d4d4d4;border-right:0;top:-1px;z-index:10;content:'';right:-16px;}
ul.nav-wizard li:after{position:absolute;display:block;border:24px solid transparent;border-left:16px solid #f9f9f9;border-right:0;top:-1px;z-index:10;content:'';right:-15px;}
ul.nav-wizard li.active:after{border-left:16px solid #d9edf7;}
ul.nav-wizard.nav-wizard-backnav li:hover:after{border-left:16px solid #f6fbfd;}
ul.nav-wizard li.active,ul.nav-wizard li.active a,ul.nav-wizard li.active a:active,ul.nav-wizard li.active a:visited,ul.nav-wizard li.active a:focus{color:#3a87ad;background:#d9edf7;}
ul.nav-wizard .active ~ li,ul.nav-wizard .active ~ li a,ul.nav-wizard .active ~ li a:active,ul.nav-wizard .active ~ li a:visited,ul.nav-wizard .active ~ li a:focus,ul.nav-wizard.nav-wizard-backnav .active ~ li,ul.nav-wizard.nav-wizard-backnav .active ~ li a,ul.nav-wizard.nav-wizard-backnav .active ~ li a:active,ul.nav-wizard.nav-wizard-backnav .active ~ li a:visited,ul.nav-wizard.nav-wizard-backnav .active ~ li a:focus{color:#999;background:#ededed;}
ul.nav-wizard .active ~ li:after,ul.nav-wizard.nav-wizard-backnav .active ~ li:after{border-left:16px solid #ededed;}
ul.nav-wizard.nav-wizard-backnav li:hover,ul.nav-wizard.nav-wizard-backnav li:hover a,ul.nav-wizard.nav-wizard-backnav li:hover a:active,ul.nav-wizard.nav-wizard-backnav li:hover a:visited,ul.nav-wizard.nav-wizard-backnav li:hover a:focus{color:#468847;background:#f6fbfd;}
/*nav-wizard css end*/
.nav.nav-sidebar li.active {
    text-decoration: none;
    background-color: #F1F1F1;
}
.controls
{
    margin-top: 20px;
}
[data-slide="prev"]
{
    margin-right: 10px;
}

.info {
    display: block;
    padding: 10px;
    background: #eee;
    text-transform: uppercase;
    font-weight: 300;
    text-align: right;
}
#stats .panel-body{padding:4px; font-weight: bold}
#stats .panel-footer{padding:4px; font-size:11px}
#stats .number{ font-family: Georgia, "Times New Roman", Times, serif;}

.fab {
    cursor: pointer;
}

.fab-backdrop {
    color: rgba(255, 255, 255, 0);
}

.fab-primary, .fab-secondary {
    transition: all 0.35s ease-in-out;
}

.fab.active .fab-primary {
    opacity: 0;
    transform: rotate(225deg);
}

.fab-secondary {
    opacity: 0;
    transform: rotate(-225deg);
}

.fab.active .fab-secondary {
    opacity: 1;
    transform: rotate(0deg);
    margin-top: -2px;
}

#fab .show-on-hover:hover > ul.dropdown-menu {
    display: block;
}

#fab .show-on-hover {
    position: fixed;
    bottom: 30px;
    right: 30px;
}

#fab .btn-io {
    border-radius: 50%;
    height: 54px;
    width: 54px;
    padding: 0 !important;
    box-shadow: 0px 3px 7px 0px rgba(202, 124, 124, 0.72);
}

#fab .dropup .dropdown-menu, .navbar-fixed-bottom .dropdown .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: -5px;
    padding-bottom: 30px;
}

#fab .dropdown-menu-right {
    right: 0 !Important;
    left: auto !Important;
}

#fab .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 50px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: center;
    list-style: none;
    background-color: rgba(255, 255, 255, 0) !Important;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: none;
    border-radius: 0px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0) !Important;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0) !Important;
}

#fab .fa-iox {
    font-size: 22px;
}

#fab .dropdown-menu > li > a {
    display: block;
    padding: 0;
    padding-top: 4px;
    margin-top: 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    background: #fff;
    white-space: nowrap;
    width: 40px;
    height: 40px;
    border: solid 1px #ccc;
    border-radius: 50px;
    font-size: 21px;
    box-shadow: 0px 3px 7px 0px rgba(203, 203, 203, 0.72);
}

#fab .fa-iosm {
    margin-top: 7px;
}

.info p, .stats p {
    margin-bottom: 0;
}

.stats {
    display: block;
    padding: 10px;
    color: white;
}

.share-links {
    border: 1px solid #eee;
    padding: 15px;
    margin-top: 15px;
}



.img-responsive
{
    display: block;
    height: auto;
    max-width: 100%;
}
.img-rounded
{
    border-radius: 3px;
}
.img-thumbnail
{
    background-color: #fff;
    border: 1px solid #ededf0;
    border-radius: 3px;
    display: inline-block;
    height: auto;
    line-height: 1.428571429;
    max-width: 100%;
    moz-transition: all .2s ease-in-out;
    o-transition: all .2s ease-in-out;
    padding: 2px;
    transition: all .2s ease-in-out;
    webkit-transition: all .2s ease-in-out;
}
.img-circle
{
    border-radius: 50%;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

.navbar-alt {
    min-height: 44px;
    border-radius: 0;
    border-top: 3px solid #EB0000;
    background: #eee;
    translationg: width .2s;
}

.navbar-alt .navbar-brand {
    padding: 2px 8px;
    font-size: 14px;
    line-height: 28px;
}

.navbar-brand > img {
    height: 36px;
    margin: 4px
}
.navbar-alt .navbar-nav > li > a { border-right:1px solid #ddd; padding-top: 2px; padding-bottom: 2px; line-height: 30px }

.navbar-alt .navbar-nav > li:last-child > a {
    border-right: 0
}

@media screen and (min-width: 768px) and (max-width: 799px) {
    body {
        padding-top: 120px;
    }
}

.navbar-ng {
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.navbar-ng:before, .navbar-ng:after {
    content: "";
    position: absolute;
    z-index: -1;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    top: 50%;
    bottom: 0;
    left: 10px;
    right: 10px;
    -moz-border-radius: 100px / 10px;
    border-radius: 100px / 10px;
}

.navbar-ng:after {
    right: 10px;
    left: auto;
    -webkit-transform: skew(8deg) rotate(3deg);
    -moz-transform: skew(8deg) rotate(3deg);
    -ms-transform: skew(8deg) rotate(3deg);
    -o-transform: skew(8deg) rotate(3deg);
    transform: skew(8deg) rotate(3deg);
}

.ng {
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.grid-item {
    margin-bottom: 5px;
    margin-right: 37px;
    line-height: 16px;
}

.views-field-field-journal-cover-fid {
    min-height: 201px;
    margin-top: 10px;
}

.views-field-title {
    height: 80px;
    padding-top: 10px;
}

.journal-item {
    width: 161px;
    display: inline;
    float: left;
    height: 400px;
}



/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .masthead,
    .marketing,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
}
.panel-body table tr td { padding-left: 15px }
.panel-body .table {margin-bottom: 0; }

.highlight{
    background-color:yellow;
    color:#565656;
    padding:4px;
}
.inline{display:inline}

.btn-label {position: relative;left: -12px;display: inline-block;padding: 6px 12px;background: rgba(0,0,0,0.15);border-radius: 3px 0 0 3px; margin:-6px 0}

.btn-lg .btn-label {
    padding: 11px 10px 11px 16px;
    left: -16px;
    margin: -11px 0;
    border-radius: 6px 0 0 6px;
    float: left;
}

.select2-choice {
    margin: -7px -13px;
    padding: 3px;
    height: 34px !important;
}

.journal-stats a { transition: all .3s ease;-webkit-transition: all .3s ease;-moz-transition: all .3s ease;-o-transition: all .3s ease; }

/* Visitor */
a.visitor i,.visitor h4.list-group-item-heading { color:#E48A07; }
a.visitor:hover { background-color:#E48A07; }
a.visitor:hover * { color:#FFF; }
/* Facebook */
a.facebook-like i,.facebook-like h4.list-group-item-heading { color:#3b5998; }
a.facebook-like:hover { background-color:#3b5998; }
a.facebook-like:hover * { color:#FFF; }
/* Google */
a.google-plus i,.google-plus h4.list-group-item-heading { color:#dd4b39; }
a.google-plus:hover { background-color:#dd4b39; }
a.google-plus:hover * { color:#FFF; }
/* Twitter */
a.twitter i,.twitter h4.list-group-item-heading { color:#00acee; }
a.twitter:hover { background-color:#00acee; }
a.twitter:hover * { color:#FFF; }
/* Linkedin */
a.linkedin i,.linkedin h4.list-group-item-heading { color:#0e76a8; }
a.linkedin:hover { background-color:#0e76a8; }
a.linkedin:hover * { color:#FFF; }
/* Tumblr */
a.tumblr i,.tumblr h4.list-group-item-heading { color:#34526f; }
a.tumblr:hover { background-color:#34526f; }
a.tumblr:hover * { color:#FFF; }
/* Youtube */
a.youtube i,.youtube h4.list-group-item-heading { color:#c4302b; }
a.youtube:hover { background-color:#c4302b; }
a.youtube:hover * { color:#FFF; }
/* Vimeo */
a.vimeo i,.vimeo h4.list-group-item-heading { color:#44bbff; }
a.vimeo:hover { background-color:#44bbff; }
a.vimeo:hover * { color:#FFF; }


.journal-meta{width:100%;overflow:hidden; font-size:13px;}
.journal-meta dt,dd{float: left;padding: 5px}
.journal-meta dd{border-right: 1px solid #ccc; padding-right: 5px; margin-right: 5px}
.journal-meta dd:last-child{border-right: none;}

.panel-steps .row {margin-bottom: 20px}

.grid-row-actions{ margin: 0; width: auto;
                   padding: 0;}
.grid-row-actions li{ display: inline-block; list-style-type: none}

.select2-container.select2-container-multi.form-control{height: auto!important;}
.select2-container{width: 100%;}

.jvFloat {
    position: relative;
    display: inline;
    margin-top: 2em;
}

.jvFloat .placeHolder.required {
    color: red;
}

/* Start CSS3 Animations on supported browser */
.jvFloat .placeHolder {
    position: absolute;
    bottom: 2px;
    left: 4px;
    width: auto;
    color: #333;
    font-size: 1em;
    font-weight: bold;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: -webkit-transform 150ms, opacity 100ms, visibility 100ms;
    transition: transform 150ms, opacity 100ms, visibility 100ms;
    opacity: 0;
    visibility: hidden;
}

.jvFloat .placeHolder.textarea {
    /*top: 0;*/
}

.jvFloat .placeHolder.active {
    display: block;
    visibility: visible;
    -webkit-transform: translate(0, -1em);
    -moz-transform: translate(0, -1em);
    -o-transform: translate(0, -1em);
    -ms-transform: translate(0, -1em);
    transform: translate(0, -1em);
    -webkit-transition: -webkit-transform 100ms, opacity 120ms, visibility 120ms;
    transition: transform 100ms, opacity 120ms, visibility 120ms;
    opacity: 1;
}
.jvFloat .placeHolder.visible {
    color: #8e8e8e;
}

@media (max-width: 768px) {
    .jvFloat{display: block;margin: 0 0 2em;}
    .jvFloat .placeHolder{bottom: 12px;}
}

.home-subject-tree ul {
    margin-bottom: 1px;
}

.home-subject-tree ul ul {
    padding: 1px 0 0 10px
}

.home-subject-tree > ul > li {
    width: 20%;
    float: left;
    list-style-type: none;
}

a.top-subject-link{
    font-weight: bold;
}



.ds-btn li{ list-style:none; float:left; padding:10px; }
.ds-btn li a span{padding-left:15px;padding-right:5px;width:100%;display:inline-block; text-align:left;}
.ds-btn li a span small{width:100%; display:inline-block; text-align:left;}
.page-header h1,#header h1{  font-size: 20px; font-weight: bold; }
h2.title { font-size: 20px; }
.nopadding{ padding: 0 !important;}

.home-stats{width:100%;overflow:hidden; font-size:13px;}
.home-stats dt,dd{float: left;padding: 5px}
.home-stats dd{border-right: 1px solid #ccc; padding-right: 5px; margin-right: 5px; width: 31%}
.home-stats dd:last-child{border-right: none;}

.home-stats dd span {
    font: bold 24px Georgia, "Times New Roman", Times, serif;
}

ul.grid-row-actions > li > a.btn { margin-right: 5px; }

.submission-subform-template {
    display: none;
}
.submission-subform {
    margin: 5px;
    border: 1px solid #CCC;
    padding: 10px;
}

.jb_result_preview {
    max-width: 100%;
    margin-bottom: 5px;
}
.jb_crop_upload, .jcrop-holder, .jb_crop_img {
    max-width: 100% !important;
}
.jcrop-holder {
    margin-bottom: 5px;
}
.fileinput-button {
    display: inline !important;
}

.fileinput-button:hover a {
     text-decoration: none !important;
}
.file-remove-button, .jb_crop_reset {
    margin-left: 2px;
}

.navbar-search-box {
    float: left;
    margin: 0;
    padding: 0 5px;
}
.navbar-search-box .navbar-form {
    padding: 0;
}
@media (min-width: 768px) and (max-width: 980px) {
    .navbar .container {
        width: 100% !important;
    }
}
@media (min-width: 768px) and (max-width: 1279px) {
    .navbar-search-box {
        width: 145px;
    }
}
@media (min-width: 768px) {
    #journalManagerMenu {
        display: block !important;
    }
}
@media (max-width: 767px) {
    .navbar-search-box {
        width: 100%;
    }
}

.select2-selection {
    max-width: 100%;
}

@media (max-width: 360px) {
    .img-in-table {
        max-width: 150px;
    }

    #logHistory {
        font-size: 10px;
    }

    #feedback-form {
        padding-top: 80px !important;
    }

    #feedback .btn-close {
        top: 42px !important;
    }
}

.half-column {
    width: 50%;
    float: left;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
}

.fileinput-button input {
    font-size: inherit !important;
}

.gm-save {
    display: none !important;
}

.img-center {
    margin: 0 auto !important;
}

#statistics {
    margin: 20px 0;
}

#statistics .table thead td {
    font-weight: bold;
    color: #888;
    text-align: center;
}

#statistics .table tbody tr:first-child td {
    border-top: 0 none;
}

#statistics .table tbody td {
    font-weight: 600;
    font-size: 14px;
}

#statistics .table tbody tr td:nth-child(2) {
    text-align: center;
}

.avatar32 {
    margin: 0 10px 5px 0
}

.profile-container .page-header .img-circle {
    width: 180px;
    height: 180px;
}

.well-xs {
    padding: 0px;
    margin: 0 2px;
}

.well-inline {
    display: inline-block
}

.panelx {
    position: relative;
}

.panel-default > .panel-leftheading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}

.panel-primary > .panel-leftheading {
    color: #fff;
    background-color: #428bca;
    border-color: #428bca;
}

.panel-success > .panel-leftheading {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.panel-info > .panel-leftheading {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.panel-warning > .panel-leftheading {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.panel-danger > .panel-leftheading {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.panel-leftheading {
    width: 42px;
    padding: 10px;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    float: left;
    height: 100%;
    position: absolute;
}

.panel-lefttitle {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 15px;
    font-size: 16px;
    color: inherit;
    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: left top;
    -moz-transform: rotate(90deg);
    -moz-transform-origin: left top;
    -ms-transform: rotate(90deg);
    -ms-transform-origin: left top;
    -o-transform: rotate(90deg);
    -o-transform-origin: left top;
    transform: rotate(90deg);
    transform-origin: left top;
    position: absolute;
    white-space: nowrap;
}

.panel-rightbody {
    float: left;
    margin-left: 45px;
    padding: 15px;
}

label.required:before {
    content: "* ";
}

.person-box {
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    height: 160px;
    margin: 5px;
    padding: 5px;
}

.person-box .avatar img {
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #eb959e;
    margin: 5px;
}

.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }
.top60 { margin-top:60px; }

.help-block li {
    color: #ff0000;
    font-size: 16px;
}

.tab-content > .tab-pane {
    padding: 10px 0;
}

.page-index .grid-item:nth-child(6), .page-index .grid-item:nth-child(12), .page-index .grid-item:nth-child(18), .page-index .grid-item:nth-child(24), .page-index .grid-item:nth-child(30) {
    margin-right: 0 !important;
}

@media (max-width: 360px) {
    #homepage-buttons a {
        width: 220px;
        margin-top: 3px;
        text-align: left;
    }

    .page-index .grid-item {
        margin-right: 0px;
    }

    .navbar-btn {
        float: left;
        display: inline-block;
        width: 33%;
        text-align: center;
    }
}


.page-header {
    border-color: #777;
    margin: 40px 0 20px;
}

.page-index .page-header {
    margin: 40px 0 20px -15px;
}

.publisher {
    width: 200px;
    height: 200px;
    float: left;
    display: table;
    margin: 0px 10px 10px 0px;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #eb0000;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.075);
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.075);
    text-align: center;
    font-size: 16px;
    vertical-align: middle;
}

.publisher:hover {
    text-decoration: none;
}

.publisher .publisher-inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.publisher img {
    margin-bottom: 5px;
}

.publisher .publisher-title {
    display: block;
}

.bx-wrapper {
    box-shadow: none;
    border: 1px solid #777;
    overflow: hidden;
    margin: 30px !important;
}

#logo {}

#stats {
    margin: 20px auto;
    min-width: 300px;
    text-align: center;
    color: #000;
}

#search_section {
    margin-top: 50px;
}

@media (max-width: 360px) {
    #homepage-buttons a {
        width: 220px;
        margin-top: 3px;
        text-align: left;
    }
}

.no-radius{
    border-radius: 0px;
}

.filter-box{
    max-height: 250px;
    overflow: auto;
}

.citation-box{
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 5px;
}

.link-unstyled {
    color: inherit;
    text-decoration: inherit;
}

.link-unstyled:link {
    color: inherit;
    text-decoration: inherit;
}

.link-unstyled:hover {
    color: inherit;
    text-decoration: inherit;
}

.li-separator{
    border-bottom: thin solid #eee;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.note-group-select-from-files{
    display: none !important;
}

#sortable li{
    cursor: move;
}