{% extends '::ojsbase.html.twig' %} 

{% block body -%}
<div class="large-12 columns">
    <div class="panel">
        <h1>{% trans %}Workflow{% endtrans %}</h1>
        <ul class="list-group">
            <li class="list-group-item"><a href="{{ path('workflowstep') }}">Manage Steps For Selected Journal</a></li>
          

        </ul>
    </div>
</div> 
{% endblock %}

