{% extends '::ojsbase.html.twig' %} 
{% block breadcrumb %}
{% set list = [
                {'link': path('dashboard'), 'title': 'Dashboard'},
                {'title': 'Workflow'}
] %}
{{breadcrumb(list)}}
{% endblock %}

{% block body -%}
<div class="panel">
    <div class="panel-heading">
        <h1>{% trans %}Workflow{% endtrans %}</h1>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item"><a href="{{ path('manage_workflowsteps') }}">Manage Steps For Selected Journal</a></li>


        </ul>
    </div>
</div>
{% endblock %}

