<div class="btn-group">
{% if(back_path is defined) %}
    <a class="btn-xs btn btn-default pull-right" href="{{ path(back_path, { 'id': entity.id }) }}">
        <i class="fa fa-arrow-left"></i>
    </a>
{%endif%}
{% if(show_path is defined) %}
    <a class="btn-xs btn btn-success pull-right" href="{{ path(show_path, { 'id': entity.id }) }}">
        <i class="fa fa-info-circle"></i>
    </a>
{%endif%}
{% if(edit_path is defined) %}
    <a class="btn-xs btn btn-warning" href="{{ path(edit_path, { 'id': entity.id }) }}">
        <i class="fa fa-pencil"></i>
    </a>
{%endif%}
{% if(delete_path is defined) %}
    <a class="btn-xs btn btn-danger" onclick="return confirm('{% trans %}sure{% endtrans %}');" href="{{ path(delete_path, { 'id': entity.id }) }}">
        <i class="fa fa-trash-o"></i>
    </a>
{%endif%}
</div>