{#
basic tpl for plain outputs
#}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets
            '@admin_main_css' filter='uglifycss' filter='cssrewrite' output="c/appmain.css" 
            %}   
        <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %} 
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
