<style>
    .fab {
        cursor: pointer;
    }

    .fab-backdrop {
        color: rgba(255, 255, 255, 0);
    }

    .fab-primary, .fab-secondary {
        transition: all 0.35s ease-in-out;
    }

    .fab.active .fab-primary {
        opacity: 0;
        transform: rotate(225deg);
    }

    .fab-secondary {
        opacity: 0;
        transform: rotate(-225deg);
    }

    .fab.active .fab-secondary {
        opacity: 1;
        transform: rotate(0);
        margin-top: -2px;
    }

    #fab .show-on-hover:hover > ul.dropdown-menu {
        display: block;

    }

    #fab .show-on-hover {
        position: fixed;
        bottom: 80px;
        right: 80px;
    }

    #fab .btn-io {
        border-radius: 50%;
        height: 54px;
        width: 54px;
        padding: 0 !important;
        box-shadow: 0px 3px 7px 0px rgba(202, 124, 124, 0.72);
    }

    #fab .dropup .dropdown-menu, .navbar-fixed-bottom .dropdown .dropdown-menu {
        top: auto;
        bottom: 100%;
        margin-bottom: -5px;
        padding-bottom: 30px;
    }

    #fab .dropdown-menu-right {
        right: 0 !Important;
        left: auto !Important;
    }

    #fab .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        float: left;
        min-width: 50px;
        padding: 5px 0;
        margin: 2px 0 0;
        font-size: 14px;
        text-align: center;
        list-style: none;
        background-color: rgba(255, 255, 255, 0) !Important;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: none;
        border-radius: 0px;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0) !Important;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0) !Important;
    }

    #fab .fa-iox {
        font-size: 22px;
    }

    #fab .dropdown-menu > li > a {
        display: block;
        padding: 0;
        padding-top: 4px;
        margin-top: 20px;
        clear: both;
        font-weight: normal;
        line-height: 1.42857143;
        color: #333;
        background: #fff;
        white-space: nowrap;
        width: 40px;
        height: 40px;
        border: solid 1px #ccc;
        border-radius: 50px;
        font-size: 21px;
        box-shadow: 0px 3px 7px 0px rgba(203, 203, 203, 0.72);
    }

    #fab .dropdown-menu > li:first-child > a {
        background: #6E4320 !important;
        color: #fff !important;
    }

    #fab .dropdown-menu > li:last-child > a {
        background: #D3A516;
        color: #fff;
    }

    #fab .dropdown-menu > li:nth-child(3) > a {
        background: #3C80F6;
        color: #fff;
    }

    #fab .dropdown-menu > li:nth-child(2) > a {
        background: #2CAC26;
        color: #fff;
    }

    #fab .fa-iosm {
        margin-top: 7px;
    }

    <
    /
    div >
</style>
{% if app.user %}
    <div id="fab">
        <div class="fab btn-group show-on-hover dropup">
            <div data-toggle="tooltip" data-placement="left" title="Compose" style="margin-left: 42px;">
                <button type="button" class="btn btn-danger btn-io dropdown-toggle" data-toggle="dropdown">
            <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x fab-backdrop"></i>
                <i class="fa fa-plus fa-stack-1x fa-inverse fab-primary"></i>
                <i class="fa fa-pencil fa-stack-1x fa-inverse fab-secondary"></i>
            </span>
                </button>
            </div>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <li><a href="{{ url('dashboard') }}" data-toggle="tooltip" data-placement="left"
                       title="{{ "dashboard"|trans }}"><i class="fa fa-cog"></i></a></li>
                <li><a href="#" data-toggle="tooltip" data-placement="left" title="LiveChat"><i
                                class="fa fa-comments-o"></i></a></li>
                <li><a href="#" data-toggle="tooltip" data-placement="left" title="Reminders"><i
                                class="fa fa-hand-o-up"></i></a></li>
                <li><a href="#" data-toggle="tooltip" data-placement="left" title="Invites"><i class="fa fa-ticket"></i></a>
                </li>
            </ul>
        </div>
    </div>
{% endif %}