{% if app.user %}
    <div id="fab">
        <div class="fab btn-group show-on-hover dropup">
            <div data-toggle="tooltip" data-placement="left" title="Quick Action" style="margin-left: 42px;">
                <button type="button" class="btn btn-danger btn-io dropdown-toggle" data-toggle="dropdown">
            <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x fab-backdrop"></i>
                <i class="fa fa-plus fa-stack-1x fa-inverse fab-primary"></i>
                <i class="fa fa-pencil fa-stack-1x fa-inverse fab-secondary"></i>
            </span>
                </button>
            </div>
            {{ knp_menu_render('OjsJournalBundle:MenuBuilder:fabMenu') }}
        </div>
    </div>
{% endif %}