<p>
    You must select a journal from left panel.  
    <a class="btn btn-warning" href="{{path('vipa_user_index')}}">Go back</a> and select a journal.
</p>
<p>
    If you don't see the journal selection module, 
    <a class="btn btn-xs btn-success" href="{{path('vipa_journal_user_register_list')}}">
        please add yourself to a journal
    </a>.
</p>

