{% extends '::ojsbase.html.twig' %} 

{% block body -%}

<div class="alert alert-warning">
    <h1>{%trans%}Error{%endtrans%}</h1>
    <p>
        You must select a journal from left panel.  
    </p>
    <p>

        If you don't see the journal selection module, 

        <a class="" href="{{path('register_journal')}}">
            <strong class="fstrong">please add yourself to a journal</strong></a>.
    </p>
</div>
{% endblock %}

