{% extends '::ojsbase.html.twig' %} 

{% block body -%}

<div class="alert alert-warning">
    <h1>{%trans%}Error{%endtrans%}</h1>
    <p>{%trans%}You must a journal from left panel. If you don't see the journal selection module, you may not be any journals manager.{%endtrans%}</p>

</div>
{% endblock %}

