<p>
    You must select a journal from left panel.  
    <a href="{{path('ojs_user_index')}}"><strong class="gstrong">Go back</strong></a> and select a journal.
</p>
<p>

    If you don't see the journal selection module, 
    <a class="" href="{{path('user_join_journal')}}">
        <strong class="fstrong">please add yourself to a journal</strong>
    </a>.
</p>

