<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
        {% stylesheets '@base_ui' filter='?uglifycss' output='assets/css/c.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
       {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="content col-md-12">
{%include '::language_selector.html.twig'%}
            {% block body %}{% endblock %}
            <div id="footer">{% block footer %}{% endblock %}</div>
        </div>
        {% block javascripts %}
            {% javascripts '@jslibs' filter='?uglifyjs2' output='assets/js/app.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}  

        {% endblock %}
    </body>
</html>
