{% set userjournals = userjournals() %}
{% set userjournalroles = userjournalroles() %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets
           '@admin_main_css' filter='uglifycss' filter='cssrewrite' output="c/appmain.css" 
            %}   
        <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %} 

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries --> 
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div id="wrapper">
        {%include '::ojsheader.html.twig'%}

        {% if app.user and hideleft is not defined %}
            {%include '::ojsleft.html.twig'%}
        {% endif %}

            <div id="{% if app.user %}page-wrapper{%else%}anonym-wrapper{%endif%}">
            {% if app.user %}
                <div class="content-header row"> 
                        {% block breadcrumb %}
                    <div class="breadcrumb">
                        <a href="/dashboard">Dashboard</a>
                        <small>Control panel</small>
                    </div>
                        {% endblock %} 
                </div>
            {%endif%}

                <!-- Main content -->
                <div class="row">
                    {% block body %}{% endblock %}
                </div>

                <div class="footer">
                    <div id="footer">{% block footer %}{% endblock %}</div>
                </div> 
            </div>
        </div>

    {% block javascripts %}
        {% javascripts '@main_js' filter='uglifyjs' output="c/appmain.js" %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}  

    {% endblock %}
    </body>
</html>
