<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
        {% stylesheets
           '@main_css'  filter='cssrewrite' output="c/combined.css" 
        %}   
        <link rel="stylesheet" href="{{ asset_url }}" />
       {% endstylesheets %} 

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="content col-md-12">
{%include '::language_selector.html.twig'%}
            {% block body %}{% endblock %}
            <div id="footer">{% block footer %}{% endblock %}</div>
        </div>
        {% block javascripts %}

        {% javascripts '@main_js' filter="uglifyjs" output="c/compiled.js" %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}  

        {% endblock %}
    </body>
</html>
