{% set ojsuser = ojsuser() %}
{% set userjournals = userjournals() %}
{% set userjournalroles = userjournalroles() %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
        {% stylesheets
           '@main_css'  filter='cssrewrite' output="c/combined.css" 
        %}   
        <link rel="stylesheet" href="{{ asset_url }}" />
       {% endstylesheets %} 

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />


        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>
    <body class="skin-blue">
        {%include '::ojsheader.html.twig'%}
        <div class="wrapper row-offcanvas row-offcanvas-left">
            {%include '::ojsleft.html.twig'%}
            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <strong>
                        {% block breadbrump %}
                        <a href="/">Dashboard</a>
                        <small>Control panel</small>
                        {% endblock %}
                    </strong> 
                </section>

                <!-- Main content -->
                <section class="container">
            {% block body %}{% endblock %}
                </section>
                

                <section class="footer">
                    <div id="footer">{% block footer %}{% endblock %}</div>
                </section>
            </aside> 
        </div>
        {% block javascripts %}
        {% javascripts '@main_js' output="c/compiled.js" %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}  

        {% endblock %}
    </body>
</html>
