{% set userjournals = userjournals() %}
{% set userjournalroles = userjournalroles() %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets
           '@main_css' filter='uglifycss' filter='cssrewrite' output="c/appmain.css" 
            %}   
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %} 

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />


        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>
    <body class="skin-blue">
        {%include '::ojsheader.html.twig'%}

        <!-- Right side column. Contains the navbar and content of the page -->
        <aside class="container-fluid">
            {% if app.user and hideleft is not defined %}
                {%include '::ojsleft.html.twig'%}
            {% endif %}
            {% if app.user %}
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <strong>
                        {% block breadcrumb %}
                            <a href="/">Dashboard</a>
                            <small>Control panel</small>
                        {% endblock %}
                    </strong> 
                </section>
            {%endif%}

            <!-- Main content -->
            <section>
            {% block body %}{% endblock %}
        </section>

        <section class="footer">
            <div id="footer">{% block footer %}{% endblock %}</div>
        </section>
    </aside> 
    {% block javascripts %}
        {% javascripts '@main_js' filter='uglifyjs' output="c/appmain.js" %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}  

    {% endblock %}
</body>
</html>
