<hr />
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-3">
                    <ul class="list-unstyled">
                        <li>GitHub<li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Contact &amp; support</a></li>
                        <li><a href="#">Enterprise</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="list-unstyled">
                        <li>Applications<li>
                        <li><a href="#">Product for Mac</a></li>
                        <li><a href="#">Product for Windows</a></li>
                        <li><a href="#">Product for Eclipse</a></li>
                        <li><a href="#">Product mobile apps</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="list-unstyled">
                        <li>Services<li>
                        <li><a href="#">Web analytics</a></li>
                        <li><a href="#">Presentations</a></li>
                        <li><a href="#">Code snippets</a></li>
                        <li><a href="#">Job board</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="list-unstyled">
                        <li>Documentation<li>
                        <li><a href="#">Product Help</a></li>
                        <li><a href="#">Developer API</a></li>
                        <li><a href="#">Product Markdown</a></li>
                        <li><a href="#">Product Pages</a></li>
                    </ul>
                </div>
            </div>

            <p class="text-center">{% block footer %}&copy 2015{% endblock %}</p>
        </div>
    </div>
</footer>