<hr>
<footer>
    <div class="row">
        <div class="col-md-3">
            <ul class="list-unstyled">
                <li><i class="fa fa-asterisk"></i> Ujs<li>
                <li><a href="#">Hakkında</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">İletişim &amp; Yardım</a></li>
                <li><a href="#">Sıkça Sorulan Sorular</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <ul class="list-unstyled">
                <li><i class="fa fa-bookmark"></i> Dökümanlar<li>
                <li><a href="#">Sunumlar</a></li>
                <li><a href="#">Videolar</a></li>
                <li><a href="#">Belgeler</a></li>
                <li><a href="#">Fotoğraflar</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <ul class="list-unstyled">
                <li><i class="fa fa-building-o"></i> Ulakbim<li>
                <li><a href="#">Keşif</a></li>
                <li><a href="#">Duyurular</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <ul class="list-unstyled">
                <li><i class="fa fa-building"></i> Tubitak<li>
                <li><a href="#">Tübitak Dergileri</a></li>
            </ul>
        </div>
    </div>
    <hr>
    <p>&copy; | <a href="/privacy">{% trans %}privacy{% endtrans %}</a> | <a href="/tos">{% trans %}tos{% endtrans %}</a></p>
</footer>
