<ul class="bxslider">
    {% for announcement in announcements %}
        <li>
            {% if announcement.image is defined and announcement.image is not null %}
                <a href="{{ announcement.content }}"><img
                            src="{{ announcement.image|imagine_filter('announcement_original') }}"
                            alt="{{ announcement.title }}"></a>
            {% endif %}

        </li>
    {% endfor %}
</ul>

{% image output="assets/prod/js/images/controls.png"
'%kernel.root_dir%/../web/vendor/bxslider-4/dist/images/controls.png' %}
{% endimage %}
{% image output="assets/prod/js/images/bx_loader.gif"
'%kernel.root_dir%/../web/vendor/bxslider-4/dist/images/bx_loader.gif' %}
{% endimage %}