{% extends '::ojsbase.html.twig' %}

{% block body -%}
    <h1>{{"institutiontype.list"|trans}}</h1>
    <a href="{{ path('institution_types_new') }}" class="btn btn-success">{{"c"|trans}}</a>
    {{ grid(grid) }}



{% endblock %}
