{% extends '::ojsbase.html.twig' %}

{% block body -%}
    <h1>{{"institutiontype.new"|trans}}</h1>

    <a href="{{ path('institution_types') }}">{{"b"|trans}}</a>
    {{ form(form) }}

{% endblock %}
