fos_elastica:
    clients:
        #you can change to your setting
        default: { host: %elasticsearch_host%, port: 9200 }
    indexes:
        search:
            client: default
            types:
                user:
                    mappings:
                        username: ~
                        firstName: ~
                        lastName: ~
                        email: ~
                        tags: ~
                        subjects: ~
                    persistence: 
                        driver: orm
                        model: Ojs\UserBundle\Entity\User
                        provider: ~
                        listener: ~
                        finder: ~
                        provider:
                            debug_logging: true
                articles:
                    mappings:
                        subjects: { type: string, boost: 4}
                        status: ~
                        keywords: { type: string, boost: 4}
                        subtitle: { type: string, boost: 3}
                        title: { type: string, boost: 5 }
                        citations:
                            type: "object"
                            properties:
                                raw: { boost: 2 }
                                id:  { boost: 1 }
                        articleAuthors:
                            type: "object"
                            properties:
                                author:
                                    type: "object"
                                    properties:
                                        id: ~
                                        firstName: ~
                                        lastName: ~
                                        middleName: ~
                                        email: ~
                        attributes:
                            type: "object"
                            properties:
                                value: ~
                        journal:
                            type: "object"
                            properties:
                                id: ~
                                title: ~
                                titleAbbr: ~
                                subtitle: ~
                                issn: ~
                                eissn: ~

                        issue:
                            type: "object"
                            properties:
                                title: ~
                                cover: ~
                                description: ~
                                year: ~
                        section:
                            type: "object"
                            properties:
                                title: ~
                        tags: ~
                    persistence:
                        driver: orm
                        model: Ojs\JournalBundle\Entity\Article
                        provider: ~
                        listener:
                        finder: ~
                        provider:
                            debug_logging: false
                institution:
                    mappings:
                        tags: ~
                        name: ~
                        verified: ~
                    persistence:
                        driver: orm
                        model: Ojs\JournalBundle\Entity\Institution
                        provider: ~
                        listener: ~
                        finder: ~
                        provider:
                            debug_logging: false
                issue:
                    mappings:
                        tags: ~
                    persistence:
                        driver: orm
                        model: Ojs\JournalBundle\Entity\Issue
                        provider: ~
                        listener: ~
                        finder: ~
                        provider:
                            debug_logging: false
                journal:
                    mappings:
                        title: ~
                        subtitle: ~
                        description: ~
                        tags: ~
                        status: ~
                        subjects:
                          type: object
                          properties:
                            id: ~
                            subject: ~
                        institution:
                          type: object
                          properties:
                            tags: ~
                            name: ~
                            institution_type:
                              type: object
                              properties:
                                name: ~
                                id:
                    persistence:
                        driver: orm
                        model: Ojs\JournalBundle\Entity\Journal
                        provider: ~
                        listener: ~

                        finder: ~
                        provider:
                            debug_logging: false
                subject:
                    mappings:
                        tags: ~
                    persistence:
                        driver: orm
                        model: Ojs\JournalBundle\Entity\Subject
                        provider: ~
                        listener: ~
                        finder: ~
                        provider:
                            debug_logging: false