knp_gaufrette:
  stream_wrapper: ~
  adapters:
    institution:
      local:
        directory: %kernel.root_dir%/../web/uploads/institution
        create: true
    institution_croped:
      local:
        directory: %kernel.root_dir%/../web/uploads/institution/croped
        create: true
    journal:
      local:
        directory: %kernel.root_dir%/../web/uploads/journal
        create: true
    journal_croped:
      local:
        directory: %kernel.root_dir%/../web/uploads/journal/croped
        create: true
    journalindex:
      local:
        directory: %kernel.root_dir%/../web/uploads/journalindex
        create: true
    journalindex_croped:
      local:
        directory: %kernel.root_dir%/../web/uploads/journalindex/croped
        create: true
    user:
      local:
        directory: %kernel.root_dir%/../web/uploads/user
        create: true
    user_croped:
      local:
        directory: %kernel.root_dir%/../web/uploads/user/croped
        create: true
    issue:
      local:
        directory: %kernel.root_dir%/../web/uploads/issue
        create: true
    issuefiles:
      local:
        directory: %kernel.root_dir%/../web/uploads/issuefiles
        create: true
    article:
      local:
        directory: %kernel.root_dir%/../web/uploads/article
        create: true
    article_croped:
      local:
        directory: %kernel.root_dir%/../web/uploads/article/croped
        create: true
    articlefiles:
      local:
        directory: %kernel.root_dir%/../web/uploads/articlefiles
        create: true
  filesystems:
    institution:
      adapter: institution
      alias: institution_filesystem
    institution_croped:
      adapter: institution_croped
      alias: institution_croped_filesystem
    journal:
      adapter: journal
      alias: journal_filesystem
    journal_croped:
      adapter: journal_croped
      alias: journal_croped_filesystem
    journalindex:
      adapter: journalindex
      alias: journalindex_filesystem
    journalindex_croped:
      adapter: journalindex_croped
      alias: journalindex_croped_filesystem
    user:
      adapter: user
      alias: user_filesystem
    user_croped:
      adapter: user_croped
      alias: user_filesystem
    issue:
      adapter: issue
      alias: issue_filesystem
    issuefiles:
      adapter: issuefiles
      alias: issuefiles_filesystem
    article:
      adapter: article
      alias: article_filesystem
    article_croped:
      adapter: article_croped
      alias: article_croped_filesystem
    articlefiles:
      adapter: articlefiles
      alias: articlefiles_filesystem
oneup_uploader:
  mappings:
    generic:
      enable_progress: true
      frontend: blueimp
      allowed_mimetypes: ['application/pdf','image/jpeg','application/vnd.openxmlformats-officedocument.wordprocessingml.document','application/msword','application/vnd.ms-excel','image/png','image/svg+xml' ]
    user:
      enable_progress: true
      frontend: blueimp
      allowed_mimetypes: ['image/jpeg','image/png','image/svg+xml' ]
      storage:
        type: gaufrette
        filesystem: gaufrette.user_filesystem
        stream_wrapper: gaufrette://user/
    institution:
      enable_progress: true
      frontend: blueimp
      allowed_mimetypes: ['image/jpeg','image/png','image/svg+xml' ]
      storage:
        type: gaufrette
        filesystem: gaufrette.institution_filesystem
        stream_wrapper: gaufrette://institution/
    journal:
      enable_progress: true
      frontend: blueimp
      allowed_mimetypes: ['image/jpeg','image/png','image/svg+xml' ]
      storage:
        type: gaufrette
        filesystem: gaufrette.journal_filesystem
        stream_wrapper: gaufrette://journal/
    journalCompeting:
      enable_progress: true
      frontend: blueimp
      allowed_mimetypes: ['application/pdf','application/vnd.openxmlformats-officedocument.wordprocessingml.document','application/msword','application/vnd.ms-excel' ,'image/jpeg','image/png','image/svg+xml']
      storage:
        type: gaufrette
        filesystem: gaufrette.journal_filesystem
        stream_wrapper: gaufrette://journal/
    journalindex:
      enable_progress: true
      frontend: blueimp
      allowed_mimetypes: ['image/jpeg','image/png','image/svg+xml' ]
      storage:
        type: gaufrette
        filesystem: gaufrette.journalindex_filesystem
        stream_wrapper: gaufrette://journalindex/
    issue:
      enable_progress: true
      frontend: blueimp
      allowed_mimetypes: ['image/jpeg','image/png','image/svg+xml' ]
      storage:
        type: gaufrette
        filesystem: gaufrette.issue_filesystem
        stream_wrapper: gaufrette://issue/
    issuefiles:
      enable_progress: true
      frontend: blueimp
      allowed_mimetypes: ['application/pdf','application/vnd.openxmlformats-officedocument.wordprocessingml.document','application/msword','application/vnd.ms-excel']
      storage:
        type: gaufrette
        filesystem: gaufrette.issuefiles_filesystem
        stream_wrapper: gaufrette://issuefiles/
    article:
      enable_progress: true
      frontend: blueimp
      allowed_mimetypes: ['image/jpeg','image/png','image/svg+xml' ]
      storage:
        type: gaufrette
        filesystem: gaufrette.article_filesystem
        stream_wrapper: gaufrette://article/
    articlefiles:
      enable_progress: true
      frontend: blueimp
      allowed_mimetypes: ['application/pdf','application/vnd.openxmlformats-officedocument.wordprocessingml.document','application/msword','application/vnd.ms-excel','image/jpeg','image/png','image/svg+xml']
      storage:
        type: gaufrette
        filesystem: gaufrette.articlefiles_filesystem
        stream_wrapper: gaufrette://articlefiles/
liip_imagine:
  data_loader: stream.journal_filesystem
  loaders:
    stream.institution_filesystem:
      stream:
        wrapper: gaufrette://institution/
    stream.institution_croped_filesystem:
      stream:
        wrapper: gaufrette://institution_croped/
    stream.journal_filesystem:
      stream:
        wrapper: gaufrette://journal/
    stream.journal_croped_filesystem:
      stream:
        wrapper: gaufrette://journal_croped/
    stream.journalindex_filesystem:
      stream:
        wrapper: gaufrette://journalindex/
    stream.journalindex_croped_filesystem:
      stream:
        wrapper: gaufrette://journalindex_croped/
    stream.user_filesystem:
      stream:
        wrapper: gaufrette://user/
    stream.user_croped_filesystem:
      stream:
        wrapper: gaufrette://user_croped/
    stream.article_filesystem:
      stream:
        wrapper: gaufrette://article/
    stream.article_croped_filesystem:
      stream:
        wrapper: gaufrette://article_croped/
  resolvers:
    default:
      web_path: ~

  filter_sets:
    original: ~
    cache: ~
    journal_original:
      data_loader: stream.journal_filesystem
      quality: 90
    journal_croped:
      data_loader: stream.journal_croped_filesystem
      quality: 90
    institution_original:
      data_loader: stream.institution_filesystem
      quality: 90
    institution_croped:
      data_loader: stream.institution_croped_filesystem
      quality: 90
    journalindex_original:
      data_loader: stream.journalindex_filesystem
      quality: 90
    journalindex_croped:
      data_loader: stream.journalindex_croped_filesystem
      quality: 90
    user_original:
      data_loader: stream.user_filesystem
      quality: 90
    user_croped:
      data_loader: stream.user_croped_filesystem
      quality: 90
    article_original:
      data_loader: stream.article_filesystem
      quality: 90
    article_croped:
      data_loader: stream.article_croped_filesystem
      quality: 90
    avatar_thumb:
      data_loader: stream.user_croped_filesystem
      quality: 90
      filters:
        relative_resize: {  widen: 200 }
        crop: {start:[0,0], size: [200, 200]}
    issue_cover:
      data_loader: stream.journal_croped_filesystem
      quality: 90
      filters:
          relative_resize: {  widen: 75 }
          crop: {start:[0,0], size: [75, 75]}
    issue_header:
      data_loader: stream.journal_croped_filesystem
      quality: 90
      filters:
        relative_resize: {  widen: 960 }
        crop: {start:[0,0], size: [960, 200]}
    journal_cover:
      data_loader: stream.journal_croped_filesystem
      quality: 90
      filters:
        thumbnail: {size: [190,284], mode: outbound}
    journal_header:
      data_loader: stream.journal_croped_filesystem
      quality: 90
      filters:
        relative_resize: {  widen: 960 }
        crop: {start:[0,0], size: [960, 200]}
    journal_logo:
      data_loader: stream.journal_croped_filesystem
      quality: 90
      filters:
        thumbnail: { size: [96, 128], mode: outbound }
    journalindex_logo:
      data_loader: stream.journalindex_croped_filesystem
      quality: 90
      filters:
        relative_resize: {  widen: 200 }
        crop: {start:[0,0], size: [200, 200]}
    institution_logo:
      data_loader: stream.institution_croped_filesystem
      quality: 90
      filters:
        relative_resize: {  widen: 200 }
        crop: {start:[0,0], size: [200, 200]}
    institution_header:
      data_loader: stream.institution_croped_filesystem
      quality: 90
      filters:
        relative_resize: {  widen: 960 }
        crop: {start:[0,0], size: [960, 200]}
    article_header:
      data_loader: stream.article_croped_filesystem
      quality: 90
      filters:
        relative_resize: {  widen: 960 }
        crop: {start:[0,0], size: [960, 200]}
    issue_cover_medium:
      data_loader: stream.journal_croped_filesystem
      quality: 90
      filters:
        relative_resize: { widen: 180}


jb_file_uploader:
  resolvers:
    journal:
      assets:
        directory: uploads/journal
    journal_croped:
      assets:
        directory: uploads/journal/croped
    institution:
      assets:
        directory: uploads/institution
    institution_croped:
      assets:
        directory: uploads/institution/croped
    journalindex:
      assets:
        directory: uploads/journalindex
    journalindex_croped:
      assets:
        directory: uploads/journalindex/croped
    user:
      assets:
        directory: uploads/user
    user_croped:
      assets:
        directory: uploads/user/croped
    journalCompeting:
      assets:
        directory: uploads/journal
    issue:
      assets:
        directory: uploads/issue
    issuefiles:
      assets:
        directory: uploads/issuefiles
    article:
      assets:
        directory: uploads/article
    article_croped:
      assets:
        directory: uploads/article/croped
    articlefiles:
      assets:
        directory: uploads/articlefiles
  endpoints:
    issue:
      upload_resolver: issue
    issuefiles:
      upload_resolver: issuefiles
    journalCompeting:
      upload_resolver: journalCompeting
    journal:
      upload_resolver: journal
      croped_resolver: journal_croped
      croped_fs: journal_croped
      upload_validators: {}
      crop_validators: {}
    institution:
      upload_resolver: institution
      croped_resolver: institution_croped
      croped_fs: institution_croped
      upload_validators: {}
      crop_validators: {}
    journalindex:
      upload_resolver: journalindex
      croped_resolver: journalindex_croped
      croped_fs: journalindex_croped
      upload_validators: {}
      crop_validators: {}
    user:
      upload_resolver: user
      croped_resolver: user_croped
      croped_fs: user_croped
      upload_validators: {}
      crop_validators: {}
    article:
      upload_resolver: article
      croped_resolver: article_croped
      croped_fs: article_croped
      upload_validators: {}
      crop_validators: {}
    articlefiles:
      upload_resolver: articlefiles

parameters:
  jb_fileuploader.resolver.asset.prototype.class: Ojs\Common\Services\FileUploadResolver\AssetsResolver
  jb_fileuploader.file_history.manager.class: Ojs\Common\Services\FileHistoryManager
  jb_fileuploader.croper.class: Ojs\Common\Services\Croper
  jb_fileuploader.crop.manager.class: Ojs\Common\Services\CropFileManager
  oneup_uploader.namer.uniqid.class : Ojs\Common\Services\FileNamer\UniqidNamer
  oneup_uploader.routing.loader.class : Ojs\Common\Services\Routing\RouteLoader
