parameters:
    database_driver:   pdo_pgsql
    database_host:     127.0.0.1
    database_port:     54323306
    database_name:     ojs
    database_user:     ojs
    database_password: ~

    system_email:      ojs@localhost
    feedback_email:    feedback@localhost
    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_name:       OJS
    mailer_password:   ~
    mailer_port: 587
    mailer_encryption: tls
    mailer_authmode: login

    locale:            tr
    locale_support: [tr,en]
    secret:            884310f89c4aa13453c463ccae442f2e0f853503

    base_host: ojs.dev

    elasticsearch_host: 127.0.0.1
    elasticsearch_index_name: ojs.elastic.index
    orcid.client_id: 1
    orcid.client_secret: 1
    academicid.client_id: 1
    academicid.client_secret: 1
    linkedin.client_id: 1
    linkedin.client_secret: 1
    https: false
    defaultPublisherSlug: www
    ojs_logo: http://ojs.io/assets/app/images/logo.png
    ojs_favicon: http://ojs.io/assets/app/images/logo.png
    ojs_fb: openjournalsoftware
    ojs_tw: ojs_io
    project_name: OJS
    country_id: 216
    session_name: '_OJS_SESSION_'
    doi_start_year: 2014
    prevent_mail_merge: false
    elastica_enabled: false