parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     3306
    database_name:     ojs
    database_user:     root
    database_password: ~

    system_email:      ojs@localhost
    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    base_host: localhost

    post_types:
        default: Default
        staticpage: Static Page
        aboutus: About Us

    elasticsearch_host: 127.0.0.1
    mongodb_host: 127.0.0.1
    cms_show_routes:
        Ojs\JournalBundle\Entity\Journal: journal_show
        Ojs\JournalBundle\Entity\Article: article_show
lsw_memcache:
    session:
        client: default
    clients:
        default:
            hosts:
              - { dsn: localhost, port: 11211 }
