parameters:
    database_driver: pdo_pgsql
    database_host: 127.0.0.1
    database_port: 5432
    database_name: {{DATABASE_NAME}}
    database_user: postgres
    database_password: postgres
    system_email: vipa@localhost
    feedback_email: feedback@localhost
    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: null
    mailer_name: VIPA
    mailer_password: null
    mailer_port: 587
    mailer_encryption: tls
    mailer_authmode: login
    locale: tr
    locale_support:
        - tr
        - en
    secret: 884310f89c4aa13453c463ccae442f2e0f853503
    base_host: {{BASE_HOST}}
    elasticsearch_host: 127.0.0.1
    elasticsearch_index_name: {{ELASTICSEARCH_INDEX_NAME}}
    orcid.client_id: 1
    orcid.client_secret: 1
    academicid.client_id: 1
    academicid.client_secret: 1
    linkedin.client_id: 1
    linkedin.client_secret: 1
    https: false
    defaultPublisherSlug: www
    vipa_logo: 'http://vipa.io/assets/app/images/logo.png'
    vipa_favicon: 'http://vipa.io/assets/app/images/logo.png'
    vipa_fb: openjournalsoftware
    vipa_tw: vipa_io
    project_name: {{PROJECT_NAME}}
    country_id: 216
    session_name: {{SESSION_NAME}}
    doi_start_year: 2014
    prevent_mail_merge: false
    elastica_enabled: true
