{% extends "::ojsbase.html.twig" %}
{% set hideleft = 1 %}
{% block breadcrumb %}{% endblock %}
{% block body %}
    <div class="container">
        <!-- Page Content -->
        <h1 class="page-header">{{ "institutions"|trans }}</h1>
        <ul class="list-group">
        {% for entity in entities %}
            <a href="{{ url('ojs_institution_page',{slug: entity.slug}) }}" class="list-group-item {% if entity.isVerified %}list-group-item-success{% endif %}">
                {% if entity.isVerified %}
                    <i class="badge fa fa-diamond"></i>
                {% endif %}
                {{ entity.name }}</a>

        {% endfor %}


        <!-- Pagination
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
        /.row -->

    </div>
    <!-- /.container -->

{% endblock %}