{% extends '::ojsbase.html.twig' %}

{% block body -%}
    <h1>New MailTemplate</h1>

    {{ form(form) }}

    {% set back_path = 'mailtemplate' %}
    {% include '::actionbtns.html.twig' %}

{% endblock %}
