{% extends '::ojsbase.html.twig' %}

{% block body -%}
    <h1>MailTemplate</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>#{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Journal</th>
                <td>{{ entity.journal.title }}</td>
            </tr>
            <tr>
                <th>Template</th>
                <td>{{ entity.template }}</td>
            </tr>
        </tbody>
    </table>

    {% set back_path = 'mailtemplate' %}
    {% set edit_path = 'mailtemplate_edit' %}
    {% set delete_path = 'mailtemplate_delete' %}
    {% include '::actionbtns.html.twig' %}

{% endblock %}
