{% extends '::ojsbase.html.twig' %}

{% block body -%}
<div class="large-12 columns">
    <div class="panel">
        <h1>Role edit #{{ entity.id }}</h1>

    {{ form(edit_form) }}

        <div class="record_actions">

                <a class="button" href="{{ path('role') }}">
                    {% trans %}back{% endtrans %}
                </a>


            {{ form(delete_form) }}

        </ul>
    </div>
</div>
{% endblock %}
