{% extends '::ojsbase.html.twig' %}

{% block body -%}
<div class="large-12 columns">
    <div class="panel">
        <h1>{% trans %}New Role{% endtrans %}</h1>

    {{ form(form) }}

        <div class="record_actions">

            <a href="{{ path('role') }}" class="button">
                {% trans %}back{% endtrans %}
            </a>

        </div>
    </div>
</div>
{% endblock %}
