{% extends '::ojsbase.html.twig' %}

{% block body -%}
<div class="large-12 columns">
    <div class="panel">
        <h1>{{ "role.new"|trans }}</h1>

        {{ form(form) }}
        {% set back_path = 'role' %}
        {% include '::actionbuttons.html.twig' %}
    </div>
</div>
{% endblock %}
