{% for block in blocks %}
    <div class="panel panel-{{ block.color|default("default") }}">
        <div class="panel-heading">
            <span class="panel-title">{{ block.title|trans }}</span>
        </div>
        {{ block.content|raw }}
    </div>
{% endfor %}
