{% extends '::ojsbase.html.twig' %}

{% block body -%}

    {% include 'OjsJournalBundle:Journal:journal_settings_nav.html.twig' with {'active':2} only %}

    <h1>{{ 'journalindex.list'|trans }}</h1>
    {{ grid(grid) }}


    <a href="{{ path('admin_journalindex_new') }}" class="btn btn-success">
        {{ 'c'|trans }}
    </a>
</ul>
{% endblock %}
