{% extends '::ojsbase.html.twig' %}

{% block body -%}
    <h1>{{ 'journalindex.list'|trans }}</h1>
    {{ grid(grid) }}

    <a href="{{ path('admin_journalindex_new') }}" class="btn btn-success">
        {{ 'c'|trans }}
    </a>
    </ul>
{% endblock %}
