{% extends '::ojsbase.html.twig' %}

{% block breadcrumb %} 
    {{breadcrumb([ {'link': path('dashboard'), 'title': 'dashboard'|trans}, { 'title': 'institution.manager'|trans} ])}}
{% endblock %} 

{% block body -%}
    <a href="{{ path('institution_new') }}"  class="btn btn-success">{{"c"|trans}}</a>
    {{ grid(grid) }}

{% endblock %}
