{% extends "::ojsbase.html.twig" %}
{% set hideleft = 1%}
{%block breadcrumb %}{% endblock %}
{% block body %}

    <div class="container">
        <div class="page-header">
            <h1>Cumhuriyet Science Journal</h1>
            <h6>Cumhuriyet University Science Journal is an official publication of Cumhuriyet University Science Faculty. </h6>
        </div>

        <div class="col-lg-9 col-md-9 col-sm-12">
            <div class="row">
                <div class="col-md-4">
                    <img src="/web/assets/cover1.jpg" class="img-rounded float-left" alt="" />
                </div>

                <div class="col-md-8">
                    <p class="text-default">Cumhuriyet University Science Journal is an official publication of Cumhuriyet University Science Faculty. The publications related to the natural sciences and engineering are published nationally and internationally. This journal have been published two times a year.
                    </p>
                </div>
                <hr>
                <div class="col-md-8">
                    <a href="articles.php" class="btn btn-alt btn-xs btn-sky"><i class="fa fa-eye"></i> Son Sayıyı Oku</a>

                    <a href="archive.php" class="btn btn-alt btn-xs btn-sunny"><i class="fa fa-archive"></i> Arşiv</a>
                    <p class="text-default">
                        <span class="label label-info"><strong>ISSN</strong>: 2148-7510</span>
                        <span class="label label-info"><strong>e-ISSN</strong>: 2148-7758</span>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h4 class="page-header"><span class="panel-title">Editoryal Bilgiler</span></h4>
                    <p>
                        <strong>Editor</strong>
                        <br>
                        Prof. Dr. Rauf AMİROV
                        <br>
                        <strong>Assistant Editors</strong><br>
                        Assoc. Prof. Dr. Nilüfer TOPSAKAL<br>
                        Assoc. Prof. Dr. Şifa TÜRKOĞLU<br>
                        Assist. Prof. Dr. Nüket KARTAL TEMEL<br>
                        Assist. Prof. Dr. Serkan AKKOYUN<br>
                    </p>

                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">



            <div class="panel panel-default">
                <div class="panel-heading"><a href="#"><span class="panel-title"><i class="fa fa-plus"></i> Blok ekle</span></a></div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"><span class="panel-title">Okuyucular için</span></div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="articles.php"><i class="fa fa-eye"></i> Son Sayıyı Oku</a>
                    </li>
                    <li class="list-group-item">
                        <a href="archive.php"><i class="fa fa-archive"></i> Arşiv</a>
                    </li>
                    <li class="list-group-item"><a href="#"><i class="fa fa-plus"></i> <strong>Link ekle</strong></a></li>
                </ul>
            </div>

            <div class="panel panel-warning">
                <div class="panel-heading"><span class="panel-title">Yazarlar ve Editörler için</span></div>
                <ul class="list-group">
                    <li class="list-group-item"><a href="#"><i class="fa fa-plus"></i> Online Makale Gönder</a></li>
                    <li class="list-group-item"><a href="#"><i class="fa fa-adjust"></i> Dergi Kapsamı ve Amacı</a></li>
                    <li class="list-group-item"><a href="#"><i class="fa fa-plus"></i> <strong>Link ekle</strong></a></li>
                </ul>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading"><span class="panel-title">Dergi Hakkında</span></div>
                <ul class="list-group">
                    <li class="list-group-item"><a href="#"><i class="fa fa-link"></i> Dergi Tarihçesi</a></li>
                    <li class="list-group-item"><a href="#"><i class="fa fa-link"></i> İletişim</a></li>
                    <li class="list-group-item"><a href="#"><i class="fa fa-link"></i> Bağlantılar</a></li>
                    <li class="list-group-item"><a href="#"><i class="fa fa-plus"></i> <strong>Link ekle</strong></a></li>
                </ul>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading"><span class="panel-title">Indexler</span></div>
                <p>
                    <img src="http://dergipark.ulakbim.gov.tr/public/site/images/itobiad/indeks_logolar3.jpg" alt="">
                    <img src="http://dergipark.ulakbim.gov.tr/public/site/images/itobiad/logo_brill3.jpg" alt="">
                    <img src="http://dergipark.ulakbim.gov.tr/public/site/images/itobiad/top_mla_logo3.gif" alt="">
                    <img src="http://dergipark.ulakbim.gov.tr/public/site/images/itobiad/ulrichsweb3.png" alt="">
                    <img src="http://dergipark.ulakbim.gov.tr/public/site/images/itobiad/logos3.png" alt="">
                    <img src="http://dergipark.ulakbim.gov.tr/public/site/images/itobiad/doaj3.jpg" alt="">
                    <img src="http://dergipark.ulakbim.gov.tr/public/site/images/itobiad/logo-left3.gif" alt="">
                    <img src="http://dergipark.ulakbim.gov.tr/public/site/images/itobiad/logo3.png" alt="">
                    <img src="http://dergipark.ulakbim.gov.tr/public/site/images/itobiad/opengate3.jpg" alt="">
                    <img src="http://dergipark.ulakbim.gov.tr/public/site/images/itobiad/drje3.jpg" alt="">
                    <img src="http://dergipark.ulakbim.gov.tr/public/site/images/itobiad/logo3.jpg" alt="">
                    <img src="http://dergipark.ulakbim.gov.tr/public/site/images/itobiad/isam3.jpg" alt="">
                    <img src="http://dergipark.ulakbim.gov.tr/public/site/images/itobiad/akademik3.jpg" alt="">
                    <img src="http://dergipark.ulakbim.gov.tr/public/site/images/itobiad/mix_and_match_logo3.gif" alt="">
                    <img src="http://dergipark.ulakbim.gov.tr/public/site/images/itobiad/trlogo3.gif" alt="">
                    <img src="http://dergipark.ulakbim.gov.tr/public/site/images/itobiad/dergipark_logo_tr3.png" alt="">
                    <img src="http://dergipark.ulakbim.gov.tr/public/site/images/itobiad/dergipark_logo3.png" alt="">
                    <img src="http://dergipark.ulakbim.gov.tr/public/site/images/itobiad/open3.gif" alt="">
                    <img src="http://dergipark.ulakbim.gov.tr/public/site/images/itobiad/New-Logo-Header3.png" alt="">
                    <img src="http://dergipark.ulakbim.gov.tr/public/site/images/itobiad/UofSLib3.png" alt="">
                </p>
            </div>
        </div>

    </div>

{% endblock %}