{% extends '::ojsbase.html.twig' %}

{% block body -%}
    <h1>{{"design.edit"|trans}}</h1>
    {% include '::flashbag.html.twig' %}
    {{ form(edit_form) }}

    {% set back_path = 'design' %}
    {% set delete_path = 'design_delete' %}
    {% include '::actionbuttons.html.twig' %}
{% endblock %}
