{% extends '::ojsbase.html.twig' %}

{% block body -%}
    {% include 'OjsJournalBundle:Journal:journal_settings_nav.html.twig' with {'active':4} only %}
    {{ grid(grid) }}
    <a href="{{ path('manager_submission_checklist_new') }}" class="btn btn-success">
        {{ 'c'|trans }}
    </a>
{% endblock %}
