{% extends '::ojsbase.html.twig' %}


{% block breadcrumb %}
    {% set list = [
                {'link': path('dashboard'), 'title': 'dashboard'},
                { 'title': 'reports'|trans, 'link': path('reports_index')},
                { 'title': 'article_reports'|trans}
] %}
    {{breadcrumb(list)}}
{% endblock %}


{% block body -%} 
    <div class="col-md-12"> 
        {# @todo a summary articles chart should be added here #}
    </div>
{% endblock %}