{% extends "OjsJournalBundle:Journal:edit.html.twig" %}

{% block cancelbtn %} 
    <a class="btn btn-default" href="{{path('user_show_my_journals')}}">
        <i class="fa fa-backward"></i> {{ "Cancel"|trans }}
    </a>
{% endblock %}
