{% extends "::ojsbase.html.twig" %}

{% block body %} 

    <div class="row">
        <div class="panel">
            <h1><strong>{{journal.title}}</strong> Settings</h1>
            
            {{form(form)}}

            <a href="#" class="btn btn-info">
                <i class="fa fa-plus"></i> Save Settings
            </a>
        </div>
    </div>

{% endblock %}
