{% extends "::ojsbase.html.twig" %}

{% block body %} 

    <div class="row">
        <div class="panel">
            <h1><strong>{{journal.title}}</strong> Users for Role <span class="label"></span></h1>


        </div>
    </div>

{% endblock %}
