Vipa\JournalBundle\Entity\IssueFileTranslation:
    type: entity
    table: issue_file_translations
    id:
        id:
            type: integer
            id: true
            generator:
                strategy: AUTO
    fields:
        title:
            type: string
            length: 255
            nullable: TRUE
        description:
            type: text
            nullable: TRUE