Vipa\JournalBundle\Entity\SubscribeMailList:
    type: entity
    table: subscribe_mail_list
    manyToOne:
        journal:
            targetEntity: Journal
            joinColumn:
              name: journal_id
              referencedColumnName: id
    id:
        id:
            type: integer
            id: true
            generator:
                strategy: AUTO
    fields:
        mail:
            type: text
            gedmo:
                - versioned
        created:
            type: datetime
            gedmo:
              timestampable:
                on: create
        updated:
            type: datetime
            gedmo:
              timestampable:
                on: update
        deletedAt:
            type: date
            nullable: true
        createdBy:
           type: string
           gedmo:
             blameable:
               on: create
        updatedBy:
           type: string
           nullable: true
           gedmo:
             blameable:
               on: update
    gedmo:
       soft_deleteable:
         field_name: deletedAt
         time_aware: false
       loggable: true
    lifecycleCallbacks: {  }
