{% extends "::ojsbase.html.twig" %}

{% block body %}

    <div class="row">


        <div class="container" style="margin-top:30px">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h1 class="panel-title"><i class="fa fa-key"></i> Sign in </h1>
                    </div>
                    <div class="panel-body">
                        <form action="{{ path('login_check') }}" method="post">
                            {% include '::flashbag.html.twig' %}
                            <div class="form-group">
                                <label for="username">Username or Email</label>
                                <input tabindex="1" name="_username" value="{{ last_username }}" type="text"
                                       class="form-control" style="border-radius:0px" id="username"
                                       placeholder="Username">
                            </div>
                            <div class="form-group">
                                <label for="password">Password
                                    <a tabindex="3" href="/sessions/forgot_password">(forgot
                                        password)</a></label>
                                <input tabindex="2" name="_password" type="password" class="form-control"
                                       style="border-radius:0px" id="password" placeholder="Password">
                            </div>
                            <button type="submit" class="btn btn-sm btn-primary pull-right">
                                <i class="fa fa-sign-in"></i> Sign in
                            </button>
                            <a href="{{ path('register') }}"
                               class="btn btn-sm btn-default pull-left">New User</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block footer %}
    &copy; Ojs-tr demo
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
