{% extends "::ojsbase.html.twig" %}

{% block body %}

<div class="row">
    <div class="large-12 columns">
        <div class="panel">
            <h1>Login</h1>

            {% if error %}
            <div class="alert-box alert">
                    {{ error.message }}
            </div>
            {% endif %}
            <form action="{{ path('login_check') }}" method="post">
                <label for="username">Username:</label>
                <input type="text" id="username" name="_username" value="{{last_username}}" />

                <label for="password">Password:</label>
                <input type="password" id="password" name="_password" />


                <input type="submit" class="button" name="login" />
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
&copy; Ojs-tr demo
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% endblock %}