<div class="well journalContact">
    {% if removable == false %}
        <legend>{{ form.contactType.vars.data }}</legend>
    {% endif %}
    {% for field in [form.contactType, form.fullName, form.phone, form.email] %}
        {% if (removable == false and field.vars.name == 'contactType') == false %}
            {{- form_row(field) -}}
        {% endif %}
    {% endfor %}
    {% if removable == true %}
        <button type="button" class="remove_contact btn btn-danger btn-labeled pull-right">
            <i class="fa fa-trash"></i>
        </button>
    {% endif %}
    <div class="clearfix"></div>
</div>
