{% extends '::ojsbase.html.twig' %}

{% block breadcrumb %}
    {% set list = [
                {'link': path('dashboard'), 'title': 'dashboard'|trans},
                { 'title': 'apply.for.new.journal'|trans},
                { 'title': 'journal.new'|trans},
    ] %}
    {{breadcrumb(list)}}
{% endblock %}

{% block body -%}

    <h1>{{"journal.apply"|trans}}</h1>
    
    <div class="record_actions">
        <a href="{{ path('dashboard') }}" class="btn btn-default">
            <i class="fa fa-chevron-left"></i> {{"b"|trans}}
        </a>
    </div>
{% endblock %}
