{% extends '::ojsbase.html.twig' %}

{% block breadcrumb %}
    {% set list = [
                {'link': path('dashboard'), 'title': 'Dashboard'},
                { 'link': path('journal'), 'title': 'Journal Manager'},
                { 'title': 'New Journal '},

] %}
    {{breadcrumb(list)}}
{% endblock %}

{% block body -%}

    <h1>Journal creation</h1>
    {{ form(form) }}
    <div class="record_actions">
        {% set back_path = 'journal' %}
        {% include '::actionbtns.html.twig' %}
    </div>
{% endblock %}
