{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Subject edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_subject') }}">
            {% trans %}Back to list{% endtrans %}
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
