{% extends '::vipabase.html.twig' %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('vipa_journal_dashboard_index', {journalId: selectedJournal().id}), 'title': 'dashboard'|trans},
    {'link': path('vipa_journal_issue_index', {'journalId': selectedJournal().id}),'title': 'issuefile'|trans},
    {'title': 'title.issuefile.new'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>{{ "issuefile.edit"|trans }}</h1>
    {% include '::flashbag.html.twig' %}

    {{ form(edit_form) }}
{% endblock %}
