{% extends '::ojsbase.html.twig' %}

{% block body -%}
    {% include 'OjsJournalBundle:Journal:journal_settings_nav.html.twig' with {'active':2} only %}
    <h1>{{ 'journalsindex.create'|trans }}</h1>

    {{ form(form) }}


    <a href="{{ path('manager_journals_indexes',{journal: entity.journalId}) }}">
        {{ 'b'|trans }}
    </a> 
{% endblock %}
