{% extends '::ojsbase.html.twig' %}

{% block body -%}
    <h1>{{ 'journalsindex.create'|trans }}</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_journalsindex',{journal: entity.journalId}) }}">
            {{ 'b'|trans }}
        </a>
    </li>
</ul>
{% endblock %}
