{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.tos'|trans }} {{ parent() }}{% endblock %}
{% set hideleft = 1 %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('ojs_public_index'), 'title': 'about'|trans},
    {'title': 'about'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-sm-12">
            <h1>{{ 'about'|trans }}</h1>
        </div>
    </div>

{% endblock %}
