{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'support'|trans }} {{ parent() }}{% endblock %}
{% set hideleft = 1 %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('ojs_public_index'), 'title': 'support'|trans},
    {'title': 'wiki'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body %}

    <div class="container " style="margin-top:60px">
        <div class="board">
            <div class="board-inner">
                <h1>{{ 'support'|trans }}</h1>
                <!-- @todo add support content -->
            </div>
        </div>
    </div>


{% endblock %}
