{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.tos'|trans }} {{ parent() }}{% endblock %}
{% set hideleft = 1 %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('ojs_public_index'), 'title': ojs.title|trans},
    {'title': 'terms.of.use'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body %}

    <div class="container " style="margin-top:60px">
        <div class="board">
            <div class="board-inner">
                <h1>Terms Of Use</h1>
                <!-- @todo add tos content -->
                <p>Tos content</p>
            </div>
        </div>
    </div>


{% endblock %}
