{% extends '::ojsbase.html.twig' %}

{% block body -%}
    <h1>Theme creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('theme') }}">
            {% trans %}back{% endtrans %}
        </a>
    </li>
</ul>
{% endblock %}
