{% extends '::ojsbase.html.twig' %}

{% block body -%}
    <h1>{{"journalContact.edit"|trans}}</h1>

    {{ form(edit_form) }}


    <div class="record_actions">
        {% if isSystemAdmin() %}
            {% set back_path = 'journalcontact' %} 
            {% set delete_path = 'journalcontact_delete' %}
        {%else %}
            {% set back_path = 'manager_journalcontact' %} 
            {% set delete_path = 'manager_journalcontact_delete' %}
        {% endif %}
        {% include '::actionbtns.html.twig' %}
    </div>
{% endblock %}
