{% extends '::ojsbase.html.twig' %}

{% block body -%}
    <h1>{{ 'journalcontact.list'|trans }}
        {% if isSystemAdmin() %}
            {% set create_path = 'journalcontact_new' %} 
        {%else %}
            {% set create_path = 'manager_journalcontact_new' %} 
        {% endif %}
        {% include '::actionbtns.html.twig' %}
    </h1>
    {% include '::flashbag.html.twig' %}



    {{grid(grid)}}


{% endblock %}
