{% extends '::ojsbase.html.twig' %}

{% block body -%}
    <h1>{{ 'journalcontact.list'|trans }}</h1>

    {{grid(grid)}}

    <a class="btn btn-default" href="{{ path('journalcontact_new') }}">
        {{"c"|trans}}
    </a> 
{% endblock %}
