{% extends '::ojsbase.html.twig' %}

{% block body -%}
    <h1>{{ 'journalcontact.creation'|trans }}</h1>

    {{ form(form) }}

    <div class="record_actions">
        {% if isSystemAdmin() %}
            {% set back_path = 'journalcontact' %} 
        {%else %} 
            {% set back_path = 'manager_journalcontact' %}
        {% endif %}
        {% include '::actionbtns.html.twig' %}
    </div>
{% endblock %}
