{% extends '::ojsbase.html.twig' %}

{% block body -%}
    <h1>{{ 'journalcontact.creation'|trans }}</h1>

    {{ form(form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('journalcontact') }}">
                {{"b"|trans}}
            </a>
        </li>
    </ul>
{% endblock %}
