{% extends '::ojsbase.html.twig' %}

{% block body -%}
    <h1>ArticleAuthor creation</h1>

    {{ form(form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('articleauthor') }}">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}
