{% extends "::ojsbase.html.twig" %}
{% set hideleft = 1%}
{%block breadcrumb %}{% endblock %}
{% block body %}

    <div class="container " style="margin-top:60px">
        <div class="board">
            <div class="board-inner">
                <h1>Terms Of Use</h1>
                <!-- @todo add tos content -->
                <p>Tos content</p>
            </div>
        </div>
    </div>


{% endblock %}
