{% extends '::ojsbase.html.twig' %}

{% block breadcrumb %} 
    {{breadcrumb([ {'link': path('dashboard'), 'title': 'Dashboard'}, 
    { 'link': path('article'), 'title': 'Article Manager'},
    { 'title' : 'Edit Article'} ])}}
{% endblock %}

{% block body -%}

    <h1>{%trans%}e{%endtrans%}</h1>

    {{ form(edit_form) }}

    <div class="record_actions">
        {% set back_path = 'article' %}
        {% set delete_path = 'article_delete' %}
        {% include '::actionbtns.html.twig' %}
    </div>
{% endblock %}
