{% extends '::ojsbase.html.twig' %}

{% block body -%}
    Articles in Journal <strong>{{journal.title }}</strong>

    <p>Here you can find all articles for selected journal <strong>{{journal.title }}</strong></p>
        <a href="{{ path('article_new') }}" class="btn btn-success">
            {% trans %}c{% endtrans %}
        </a>
        <a href="{{ path('article') }}" class="btn btn-default">
            {% trans %}back{% endtrans %}
        </a>
    {% include "OjsJournalBundle:Article:index_list_block.html.twig" %}

{% endblock %}
