{% extends '::ojsbase.html.twig' %}

{% block body -%}

    <p>. {{"here_you_can_find_all_articles_listed"|trans}}
        <a href="{{ path('article_new') }}" class="btn btn-success">
            {% trans %}c{% endtrans %}
        </a></p>


    {% include "OjsJournalBundle:Article:index_list_block.html.twig" %}

{% endblock %}
