{% extends 'OjsInstallerBundle:Default:installer.html.twig' %}
{% block body -%}
    <div class="row">
        <div class="col-md-12">
            {{data.result|raw}}
        </div>
    </div>
{% endblock %}