{% extends 'OjsInstallerBundle:Default:installer.html.twig' %}
{% block body -%}
    <div class="row">
        <div class="col-md-12">
        {{ form_widget(form) }}
        </div>
    </div>
{% endblock %}