{% extends 'OjsInstallerBundle:Default:installer.html.twig' %}
{% block body -%}
    <div class="jumbotron">
        <h1>{{ "installer.welcome.title"|trans }}</h1>
        <p class="lead">{{ "installer.welcome.message"|trans }}</p>
        <p><a class="btn btn-lg btn-success" href="{{ url('ojs_installer_check') }}" role="button">{{ "installer.check_configuration"|trans }}</a></p>
    </div>
{% endblock %}