{% extends '::ojsbase.html.twig' %}
{% block breadcrumb %} 
    {{breadcrumb([ {'link': path('dashboard'), 'title': 'dashboard'|trans},
    { 'link': path('author'), 'title': 'author.manager'|trans},
    { 'title' : 'author.new'|trans} ])}}
{% endblock %}

{% block body -%}
    <h1>{{ 'author.creation'|trans }}</h1>

    {{ form(form) }}
    {% set back_path = 'author' %}
    {% include '::actionbuttons.html.twig' %}
{% endblock %}
