{% extends '::ojsbase.html.twig' %}

{% block body -%}
    <div class="large-12 columns">
        <div class="panel">
            <h1>{{ "user.journalrole.list"|trans }}</h1>
            {% include '::flashbag.html.twig' %}
            {{ grid(grid) }}

            {% set create_path = 'ujr_new' %}
            {% include '::actionbuttons.html.twig' %}
        </div>
    </div>
{% endblock %}
