{% extends '::ojsbase.html.twig' %}

{% block body -%}
    <div class="large-12 columns">
        <div class="panel">
            <h1>{{ "user.journalrole.list"|trans }}</h1>
            {{ grid(grid) }}

            <a class="btn btn-success" href="{{ path('ujr_new') }}">
                {{ "c"|trans }}
            </a>
        </div>
    </div>
{% endblock %}
