{% extends '::ojsbase.html.twig' %}

{% block body -%}
<div class="large-12 columns">
    <div class="panel">
        <h1>{{ "user.journalrole.creation"|trans }}</h1>
        {{ form(form) }}
        {% set back_path = 'ujr' %}
        {% include '::actionbuttons.html.twig' %}
    </div>
</div>
{% endblock %}
