{% extends '::ojsbase.html.twig' %}

{% block body -%}
    <div class="large-12 columns">
        <div class="panel">
            <h1>{{ "user.journalrole.usersofjournal"|trans }}</h1>
            <hr/>
            {% include '::flashbag.html.twig' %}
            {{ grid(grid) }}
            <a class="button" href="{{ path('ujr_new') }}">
                {{ "c"|trans }}
            </a>
        </div>
    </div>
{% endblock %}
