{% extends '::ojsbase.html.twig' %}

{% block body -%}
    <h1>InstitutionTypes edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('institution_types') }}">
            {% trans %}back{% endtrans %}
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
