{% extends '::ojsbase.html.twig' %}

{% block body -%}
    <h1>InstitutionTypes creation</h1>

    {{ form(form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('institution_types') }}">
                {% trans %}back{% endtrans %}
            </a>
        </li>
    </ul>
{% endblock %}
