{% extends '::base.html.twig' %}

{% block body -%}
    <h1>ContactTypes creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('contacttypes') }}">
            {% trans %}Back to list{% endtrans %}
        </a>
    </li>
</ul>
{% endblock %}
