{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.user_welcome'|trans }} {{ parent() }}{% endblock %}


{% block breadcrumb %}
    {% set list = [
    { 'link': path('ojs_journal_dashboard_index', {journalId: selectedJournal().id}), 'title': 'dashboard'|trans },
    { 'title': 'title.user_welcome'|trans }
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body %}

    {% include '::flashbag.html.twig' %}
    <div class="panel panel panel-success">
        <div class="panel-heading toggle-body">
            <i class="fa fa-bar-chart-o fa-fw"></i> {{ "articles.needAction"|trans }} <i
                    class="pull-right fa fa-angle-double-up"></i>
        </div>
        <div class="panel-body">


        </div>
        <!-- /.panel-body -->
    </div>


{% endblock %}
