{% extends '::ojsbase.html.twig' %}

{% block body -%}
<div class="large-12 columns">
    <div class="panel">
        <h1>UserJournalRole edit</h1>

        {{ form(edit_form) }}


        {% set back_path = 'ujr' %}
        {% set delete_path = 'ujr_delete' %}
        {% include '::actionbtns.html.twig' %} 

    </div>
</div>
{% endblock %}
