{% extends '::ojsbase.html.twig' %}

{% block body -%}
    <h1>{{"citation.edit"|trans}}</h1>
    {% include '::flashbag.html.twig' %}
    {{ form(edit_form) }}


    {% set back_path = 'citation' %}
    {% set delete_path = 'citation_delete' %}
    {% include '::actionbtns.html.twig' %}
{% endblock %}
