{% extends '::ojsbase.html.twig' %}

{% block body -%}
    <h1>{{"citation.create"|trans}}</h1>

    {{ form(form) }}
    {% set back_path = 'citation' %}
    {% include '::actionbuttons.html.twig' %}
{% endblock %}
