{% extends '::ojsbase.html.twig' %}

{% block body -%}
    <h1>{{"citation.create"|trans}}</h1>

    {{ form(form) }}

    <a class="btn btn-default" href="{{ path('citation') }}">{{"back"|trans}}</a>
{% endblock %}
