{% extends '::ojsbase.html.twig' %}

{% block breadcrumb %} 
    {{breadcrumb([ {'link': path('dashboard'), 'title': 'dashboard'|trans},
    { 'title': 'contact.manager'|trans}])}}
{% endblock %} 

{% block body -%} 

    {{ grid(grid) }}
    <a href="{{ path('contact_new') }}" class="btn btn-success">{{"c"|trans}}</a>

{% endblock %}
