{% extends '::ojsbase.html.twig' %}
{% block breadcrumb %} 
    {{breadcrumb([ {'link': path('dashboard'), 'title': 'Dashboard'}, 
    { 'link': path('contact'), 'title': 'Contact Manager'},
    { 'title' : 'New Contact'} ])}}
{% endblock %}

{% block body -%} 

    {{ form(form) }}


    <a href="{{ path('contact') }}">
        {% trans %}back{% endtrans %}
    </a>
{% endblock %}
