{% extends '::ojsbase.html.twig' %}
{% block breadcrumb %} 
    {{breadcrumb([ {'link': path('dashboard'), 'title': 'dashboard'|trans},
    { 'link': path('contact'), 'title': 'contact.manager'|trans},
    { 'title' : 'contact.new'|trans} ])}}
{% endblock %}

{% block body -%} 

    {{ form(form) }}


    <a href="{{ path('contact') }}">
        {{"b"|trans}}
    </a>
{% endblock %}
