{% extends '::ojsbase.html.twig' %}

{% block body -%}
    <h1>Institution edit</h1>

    {{ form(edit_form) }}

    {% set back_path = 'institution' %} 
    {% set delete_path = 'institution_delete' %}
    {% include '::actionbtns.html.twig' %} 
    
</ul>
{% endblock %}
