{% extends '::ojsbase.html.twig' %}

{% block body -%}
<h1>Institution creation</h1>

    {{ form(form) }}


    {% set back_path = 'institution_show' %} 
   {% include '::actionbtns.html.twig' %} 

</ul>
{% endblock %}
