<div class="well journalContact">
    {{- form(form) -}}
    <button type="button" class="remove_contact btn btn-danger btn-labeled pull-right">
        <i class="fa fa-trash"></i>
    </button>
    <div class="clearfix"></div>
</div>
