Ojs\CmsBundle\Entity\Page:
    type: entity
    table: page
    repositoryClass: Ojs\CmsBundle\Entity\PageRepository
    inheritanceType: SINGLE_TABLE
    discriminatorColumn:
        name: discriminator
        type: string
    discriminatorMap:
        admin: Ojs\AdminBundle\Entity\AdminPage
        journal: Ojs\JournalBundle\Entity\JournalPage
    id:
        id:
            type: integer
            id: true
            generator:
                strategy: AUTO
    fields:
        tags:
            type: string
            length: 255
        visible:
            type: boolean
            nullable: true
        slug:
            type: string
            length: 255
            unique: true
            gedmo:
                slug:
                    seperator: _
                    fields:
                      - id
        created:
           type: datetime
           gedmo:
             timestampable:
               on: create
        updated:
           type: datetime
           gedmo:
             timestampable:
               on: update
        deletedAt:
           type: date
           nullable: true
    gedmo:
        soft_deleteable:
            field_name: deletedAt
            time_aware: false
        loggable: true
    lifecycleCallbacks: {  }
