Ojs\CmsBundle\Entity\PostTranslation:
    type: entity
    table: post_translations
    id:
        id:
            type: integer
            id: true
            generator:
                strategy: AUTO
    fields:
        title:
          type: string
          length: 255
          nullable: false
        content:
          type: text
          nullable: false
