{% extends "::ojsbase.html.twig" %}

{% block body %}   
    {% if ojsuser %}
<a class="btn btn-success" href="/manager"><i class="glyphicon glyphicon-flag"></i> 
    Manager Dashboard</a>
{%else%}

<a class="btn btn-info" href="/login"><i class="glyphicon glyphicon-log-in"></i> 
    Login</a>
    {%endif%}



{% endblock %}

{% block footer %}
&copy; Ojs-tr demo
{% endblock %}