{% extends "::ojsbase.html.twig" %}

{% block body %}
<div class="container">
    <h1>Default</h1>
    <p class="important">
        Default Home Page
    </p>
    <a class="btn btn-info" href="/login"><i class="icon icon-log-in"></i> 
        Login</a>
    <a class="btn btn-success" href="/manager"><i class="icon icon-flag"></i> 
        Manager Dashboard</a>

</div>
{% endblock %}

{% block footer %}
&copy; Ojs-tr demo
{% endblock %}