{% extends '::ojsbase.html.twig' %}

{% block body -%}
    <h1>{{"lang.new"|trans}}</h1>

    {{ form(form) }}

    {% set back_path = 'lang' %} 
    {% include '::actionbtns.html.twig' %}
{% endblock %}
