{% extends '::ojsbase.html.twig' %}

{% block body -%}
    <h1>{{"lang.new"|trans}}</h1>

    {{ form(form) }}

    <a class="btn btn-default" href="{{ path('lang') }}">
        {{"b"|trans}}
    </a> 
{% endblock %}
