{% extends '::ojsbase.html.twig' %} 

{% block body -%}
<div class="panel">
    <div class="panel-heading">
        <h1>{% trans %}Editor Workflow Actions{% endtrans %}</h1>
    </div>

    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item">
                <a href="{{path('editor_articles_waiting')}}">Waiting Articles</a>
            </li>
            <li class="list-group-item">
                <a href="{{path('editor_articles_assigned')}}">in-Review Articles</a>
            </li>
        </ul>
        <hr>

    </div>
</div>
{% endblock %}

