{% extends '::ojsbase.html.twig' %}

{% block body -%}
<div class="large-12 columns">
    <div class="panel">
        <h1>My Journals</h1>
{% if entities %}
        <table class="records_list  table">
            <thead>
                <tr>
                    <th>{% trans %}Journal{% endtrans %}</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
        {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('editor_journal_show', { 'id': entity.journal.id }) }}">
                            <span class="badge">#{{ entity.journal.id }}</span> {{ entity.journal.title }}</a>
                    </td>
                    <td>
                            {%for role in entity.roles %}
                        <span class="label label-info">{{ role.name }}</span>
                            {%endfor %}
                    </td>
                </tr>
        {% endfor %}
            </tbody>
        </table>
{%else %}

        <div class="alert alert-warning">
            <p>You have no journal.</p>
        </div>
 {%endif%}
    </div>
</div>
    {% endblock %}
