{% extends '::ojsbase.html.twig' %}

{% block body -%}
    <h1>ArticleFile edit</h1>

    {{ form(edit_form) }}

        
    {% set back_path = 'articlefile' %}
    {% set delete_path = 'articlefile_delete' %}
    {% include '::actionbtns.html.twig' %}

    
{% endblock %}
