{% extends 'knp_menu.html.twig' %}

{% block linkElement %}
    <a href="{{ item.uri }}" class="btn btn-primary btn-labeled btn-block btn-lg top5">
        <span class="btn-label pull-left col-md-3 col-xs-3">
            <i class="fa fa-{{ item.extras.icon }}"></i>
        </span>
        {{ block('label')|trans }}
    </a>
{% endblock %}