{% extends "::ojsbase.html.twig" %}

{% block body %}
<h1>{{"dashboard.editor"|trans}}</h1>
<div class="col-md-12">
    <ul class="list-group">
        <li class="list-group-item">
            <a href="{{path('editor_show_my_journals')}}">{{"journal.my"|trans}}</a>
        </li>
       {% include 'OjsWorkflowBundle:Editor:parts/editor_workflow_actions.html.twig' %}

    </ul>
</div>
{% endblock %}

{% block footer %}{% endblock %}
