{% extends "::ojsbase.html.twig" %}

{% block body %}   

<section>
    <div class="container homebrand">
        <div class="">Welcome</div>
        <a href="{{path("dashboard")}}" class="btn btn-sm btn-info">Dashboard</a>
    </div>
</section>

{% endblock %}

{% block footer %}
<hr>
<small> &copy; Okulbilişim <a href="http://okulbilisim.com">okulbilisim.com</a></small>
{% endblock %}