{% extends "::ojsbase.html.twig" %}

{% block stylesheets %}
    {{parent()}}
    <link href="/vendor/morrisjs/morris.css" rel="stylesheet">
{% endblock %}


{% block body %}   


    <div class="homebrand col-lg-8">
        <div class="panel panel panel-success">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Articles That Need Action
            </div>
            <div class="panel-body">
                <div id="articles-action-chart"></div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->

        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Last 30 days Analytics

            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div id="analytics-chart"></div>
            </div>
            <!-- /.panel-body -->
        </div> 



    </div> 

    <div class="col-lg-4 ">
        <div class="alert alert-warning">
            <small>Last login : {{app.user.getLastlogin()|date('Y-m-d H:i:s')}}</small>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bell fa-fw"></i> Notifications Panel
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <i class="fa fa-comment fa-fw"></i> New Comment
                        <span class="pull-right text-muted small"><em>4 minutes ago</em>
                        </span>
                    </a> 
                    <a href="#" class="list-group-item">
                        <i class="fa fa-envelope fa-fw"></i> Message Sent
                        <span class="pull-right text-muted small"><em>27 minutes ago</em>
                        </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-tasks fa-fw"></i> New Task
                        <span class="pull-right text-muted small"><em>43 minutes ago</em>
                        </span>
                    </a> 
                    <a href="#" class="list-group-item">
                        <i class="fa fa-bolt fa-fw"></i> New Task
                        <span class="pull-right text-muted small"><em>11:13 AM</em>
                        </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-warning fa-fw"></i> New Task
                        <span class="pull-right text-muted small"><em>10:57 AM</em>
                        </span>
                    </a>  
                </div>
                <!-- /.list-group -->
                <a href="#" class="btn btn-default btn-block">View All Alerts</a>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->

        <div class="chat-panel panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-comments fa-fw"></i> Inbox 
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <ul class="chat">
                    <li class="left clearfix">
                        <span class="chat-img pull-left">
                            <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle" />
                        </span>
                        <div class="chat-body clearfix">
                            <div class="header">
                                <strong class="primary-font">Prof. Tarık</strong> 
                                >               <small class="pull-right text-muted">
                                    <i class="fa fa-clock-o fa-fw"></i> 12 mins ago
                                </small>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                            </p>
                        </div>
                    </li> 
                    <li class="left clearfix">
                        <span class="chat-img pull-left">
                            <img src="http://placehold.it/50/FA6F57/fff" alt="User Avatar" class="img-circle" />
                        </span>
                        <div class="chat-body clearfix">
                            <div class="header">
                                <strong class="primary-font">Dr. Sevim</strong> 
                                <small class="pull-right text-muted">
                                    <i class="fa fa-clock-o fa-fw"></i> 14 mins ago</small>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                            </p>
                        </div>
                    </li> 
                </ul>
            </div>
            <!-- /.panel-body -->
            <div class="panel-footer"> 
                <button class="btn btn-success btn-sm" id="btn-chat">
                    <i class="fa fa-plus-circle"></i> New Message
                </button> 
            </div>
            <!-- /.panel-footer -->
        </div>
        <!-- /.panel .chat-panel -->
    </div>


{% endblock %}

{% block footer %}
    <hr>
    <small> &copy; Okulbilişim <a href="http://okulbilisim.com">okulbilisim.com</a></small>
{% endblock %}



{% block javascripts %}
    {{parent()}}
    <script src="/vendor/raphael/raphael-min.js"></script>
    <script src="/vendor/morrisjs/morris.min.js"></script>

    <script>
        $(function() {
            Morris.Donut({
                element: 'articles-action-chart',
                data: [{
                        label: "New Articles Waiting",
                        value: 12
                    }, {
                        label: "Articles Waiting Reviewer",
                        value: 30
                    }, {
                        label: "Articles Waiting Author",
                        value: 20
                    }],
                resize: true
            });
        });
    </script>
{% endblock %}