{% extends "::ojsbase.html.twig" %}
{% set hideleft = 1%}
{%block breadcrumb %}{% endblock %}
{% block body %}
    <div class="container">
        <!-- Page Content -->
        <h1 class="page-header">{{entity.name}}</h1>


        <div class="panel panel-default">
            <div class="panel-body">



            </div>


            <div class="panel-footer">

                <i class="fa fa-tags"></i>{% trans %}tags{% endtrans %}
                <a href="#"><span class="badge">ojs</span></a>
                <a href="#"><span class="badge">university</span></a>
                <a href="#"><span class="badge">paper</span></a>

            </div>
        </div>

        <ul class="list-group">
            {% for journal in entity.journals %}
                <li class="list-group-item"><a href="/journal/{{ journal.id }}">{{ journal.title }}</a></li>
                {%endfor%}
        </ul>

    </div>
    <!-- /.container -->

{% endblock %}