<section role="services">
    <h4 class="page-header text-primary"><i class="fa fa-cogs"></i> {{ "services"|trans }}</h4>

    <div class="row">
        <div class="col-md-12 col-xs-12">
            <ul class="ds-btn">
                <li>
                    <a class="btn btn-lg " href="#">
                        <i class="glyphicon glyphicon-link pull-left"></i><span>Dergi Ev Sahipliği</span></a>

                </li>
                <li>
                    <a class="btn btn-lg btn-primary" href="#">
                        <i class="glyphicon glyphicon-user pull-left"></i><span>DOI</span></a>

                </li>
                <li>
                    <a class="btn btn-lg btn-success " href="#">
                        <i class="glyphicon glyphicon-dashboard pull-left"></i><span>OJS</span></a>

                </li>
                <li>
                    <a class="btn btn-lg btn-danger" href="#">
                        <i class="glyphicon glyphicon-tasks pull-left"></i><span>Teknik Destek</span></a>

                </li>
                <li>
                    <a class="btn btn-lg btn-warning" href="#">
                        <i class="glyphicon glyphicon-search pull-left"></i><span>S.S.S.</span></a>
                </li>
                <li>
                    <a class="btn btn-lg btn-info" href="#">
                        <i class="glyphicon glyphicon-list pull-left"></i><span>İletişim</span></a>
                </li>
            </ul>
        </div>
    </div>
</section>