{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.topics'|trans }} {{ parent() }}{% endblock %}
{% set hideleft = 1%}
{%block breadcrumb %}{% endblock %}
{% block body %}

<div class="container">
    topics
</div>

{% endblock %}
