<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:dc="http://purl.org/dc/terms/"
      xmlns:doi="http://dx.doi.org/"
      lang="en" xml:lang="en"
      class="no-js">

<body>
<h1>Publication Years</h1>
<ul>
    {% for i in 2006.."now"|date("Y") %}
        <li><a href="{{ path('ojs_journal_lockss_vol', {slug: journal.slug, year: i}) }}">{{ i }}</a></li>
    {% endfor %}
</ul>
<em> LOCKSS system has permission to collect, preserve, and serve this open access Archival Unit. </em>  </body>
</html>