{% set entity=journal %}
{% extends "OjsAdminBundle:AdminJournal:edit.html.twig" %}

{% block cancelbtn %}
    <a class="btn btn-default" href="{{ path('ojs_journal_user_my') }}">
        <i class="fa fa-backward"></i> {{ "c"|trans }}
    </a>
{% endblock %}
