{% extends '::ojsbase.html.twig' %}

{% block body -%}
    <h1>Issue creation</h1>

    {{ form(form) }}

    <hr>
    <a class="btn btn-default" href="{{ path('issue') }}">
            Back to the list
        </a>
{% endblock %}
