{% extends "::vipabase.html.twig" %}
{% set hideleft = true %}
{% block title %}{{ 'resetting.reset.submit'|trans }} {{ parent() }}{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
<p>
{{ 'resetting.check_email'|trans({'%email%': email}) }}
</p>
{% endblock %}
