{% extends "::vipabase.html.twig" %}
{% set hideleft = true %}
{% block title %}{{ 'resetting.reset.submit'|trans }} {{ parent() }}{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
<p>{{ 'resetting.password_already_requested'|trans }}</p>
{% endblock body %}
