{% extends '::ojsbase.html.twig' %}

{% block body -%}
    <h1>{{"article_author_edit"|trans}}</h1>

    {{ form(edit_form) }}
    <hr>

{% set back_path = 'articleauthor' %}
{% set delete_path = 'articleauthor_delete' %}
{% include '::actionbtns.html.twig' %}

{% endblock %}
