{% extends '::ojsbase.html.twig' %}

{% block breadcrumb %}
    {% set list = [
        {'link': path('dashboard'), 'title': 'dashboard'|trans},
        { 'link': path('articleauthor'),'title': 'article.author'|trans},
        {'title': 'edit'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>{{"article_author_edit"|trans}}</h1>
    {{ form(edit_form) }}
    <hr>
    {% set back_path = 'articleauthor' %}
    {% set delete_path = 'articleauthor_delete' %}
    {% include '::actionbuttons.html.twig' %}
{% endblock %}
