{% extends '::ojsbase.html.twig' %}

{% block body -%}
    <h1>{{"articleauthor_create"|trans}}</h1>

    {{ form(form) }}
    {% set back_path = 'articleauthor' %}
    {% include '::actionbuttons.html.twig' %}
{% endblock %}
