{% extends '::ojsbase.html.twig' %}

{% block body -%}
    <h1>{{"articleauthor_create"|trans}}</h1>

    {{ form(form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('articleauthor') }}">{{"back"|trans}}</a>
        </li>
    </ul>
{% endblock %}
