{% extends '::ojsbase.html.twig' %}

{% block body -%}
    <h1>{{"citation.setting.new"|trans}}</h1>
    <a href="{{ path('citationsetting') }}">{{"b"|trans}}</a>
    
    {{ form(form) }}

{% endblock %}
