{% extends '::ojsbase.html.twig' %}

{% block body -%}
<div class="large-12 columns">
    <div class="panel">
        <h1>User edit</h1>
        <div class="record_actions">

    {{ form(edit_form, { 'attr': { 'enctype' :'multipart/form-data'} }) }}



        {% set show_path = 'user' %}
        {% set delete_path = 'user_delete' %}
        {% include '::actionbtns.html.twig' %} 



        </div>
    </div>
</div>
<style>
    select#ojstr_userbundle_user_journals,      select#ojstr_userbundle_user_roles{height: 300px;margin-bottom: 30px}

</style> 
{% endblock %}
