{% extends '::ojsbase.html.twig' %}

{% block body -%}
<div class="large-12 columns">
    <div class="panel">
        <h1>User edit</h1>
        <div class="record_actions">

    {{ form(edit_form) }}

            <a href="{{ path('user') }}" class="button success">
            {% trans %}Back to list{% endtrans %}
            </a>

    {{ form(delete_form) }}
        </div>
    </div>
</div>
<style>
      select#ojstr_userbundle_user_roles{height: 300px;margin-bottom: 30px}

</style> 
{% endblock %}
