{% extends '::ojsbase.html.twig' %}

{% block body -%}
<div class="row">
    <div class="large-12 columns">
        <div class="panel">
            <h1>{%trans%}Edit{%endtrans%}</h1>

            {{ form(edit_form) }}

            <div class="record_actions">
                <a href="{{ path('admin_article') }}" class="button">
                    {% trans %}Back to list{% endtrans %}
                </a>
                  {{ form(delete_form) }} 
            </div>
        </div>
    </div>
</div>
{% endblock %}
