{% extends '::ojsbase.html.twig' %}

{% block body -%}
    <h1>Add Article</h1>

    {{ form(form) }}

    <div class="record_actions">
        <a class="button success" href="{{ path('article') }}">
            {% trans %}back{% endtrans %}
        </a>
    </div>
{% endblock %}
