{% extends '::ojsbase.html.twig' %}

{% block body -%}
    <h1>{{"theme.list"|trans}}</h1>
{{ grid(grid) }}
    <a href="{{ path('theme_new') }}" class="btn btn-success">
        {{"c"|trans}}
    </a>
{% endblock %}
