{% extends '::ojsbase.html.twig' %}

{% block body -%}
    <h1>Theme creation</h1>

    {{ form(form) }}

    <a class="btn btn-default" href="{{ path('theme') }}">
        {{"b"|trans}}
    </a>
{% endblock %}
