{% extends '::ojsbase.html.twig' %}

{% block body -%}
    <h1>{{"journaltheme.edit"|trans}}</h1>
    {% include '::flashbag.html.twig' %}
    {{ form(edit_form) }}

    {% set back_path = 'admin_journaltheme' %}
    {% set delete_path = 'admin_journaltheme_delete' %}
    {% include '::actionbuttons.html.twig' %}
{% endblock %}
