{% extends "::ojsbase.html.twig" %}

{% block body %} 
<h1>Manager Dashboard</h1>
<div class="col-md-12">
    <ul class="list-group">
        <li class="list-group-item">
            <a href="{{path('article')}}">Articles</a>
        </li> 
        <li class="list-group-item">
            <a href="{{path('manager_show_my_journals')}}">Journals</a>
        </li> 
    </ul>
</div>   
{% endblock %}

{% block footer %}{% endblock %}