{% extends "::ojsbase.html.twig" %}

{% block body %}
<div class="container">
    <h1>Manager Dashboard</h1>
    <div class="col-md-6">
        <h2>Objects</h2>
        <ul class="list-group">

            <li class="list-group-item"><a href="/manager/article">Articles</a></li>
            <li class="list-group-item"><a href="/manager/author">Authors</a></li>
            <li class="list-group-item"><a href="/manager/contact">Contacts</a></li>
            <li class="list-group-item"><a href="/manager/contacttype">Contact Types</a></li>
            <li class="list-group-item"><a href="/manager/institution">Institutions</a></li>
            <li class="list-group-item"><a href="/manager/institutiontype">Institution Types</a></li>
            <li class="list-group-item"><a href="/manager/issue">Issues</a></li>
            <li class="list-group-item"><a href="/manager/journal">Journals</a></li>
            <li class="list-group-item"><a href="/manager/keyword">Keywords</a></li>
            <li class="list-group-item"><a href="/manager/subject">Subjects</a></li>
            <li class="list-group-item"><a href="/manager/teheme">Themes</a></li>
        </ul>
    </div>

    <div class="col-md-6">
        <h2>System Operations</h2>
        <ul class="list-group">
            <li class="list-group-item"><a href="/manager/user">User</a></li>
            <li class="list-group-item"><a href="/manager/role">Role</a></li>

        </ul>
    </div>
</div>
{% endblock %}

{% block footer %}{% endblock %}