{% extends '::ojsbase.html.twig' %}
{% set hideleft = true %}

{% block body -%}
    <h1>File edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('ojs_admin_file_index') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
